@let r = $results;
@let t = r.translationS();
@let results = r.resultsS();
@let materials_top_5 = $results.materials_top5S();
@let materials_sums = $results.materials_sumsS();
@let materials = $results.materialsS();
<kppk-print-layout class="calculation_content result_content prose max-w-none">
  @if(results && materials && materials_top_5 && materials_sums) {
  <div class="page page-cover-sheet">
    <div class="avoid-page-break-inside">
      <div class="print-result-headline-wrapper">
        <h1 class="page-headline">{{ 'rcalc.calc-result-headline' }}</h1>
      </div>
      <img class="print-cover" alt="'img-alt_rose-logo'" src="{{ print_cover }}" />
      <div class="print-project-headline-wrapper avoid-page-break-inside">
        <!-- <h2 *ngIf="printData.common.projectName">{{ 'rcalc.projectName' }} {{ printData.common.projectName }}</h2>
        <h2 *ngIf="printData.common.projectNumber">{{ 'rcalc.projectNumber' }} {{ printData.common.projectNumber }}</h2>
        <h2 *ngIf="printData.common.projectPart">{{ 'rcalc.projectPart' }} {{ printData.common.projectPart }}</h2> -->
      </div>
    </div>
    <div class="print-project-headline-wrapper avoid-page-break-inside">
      <h1 class="page-headline page-headline-spacer">{{ 'rcalc.print-headline-content' }}</h1>
      <h2>{{ 'rcalc.print-headline-base-data' }}</h2>
      <h2>{{ 'rcalc.print-headline-system-compare' }}</h2>
      <h2>{{ 'rcalc.print-headline-cost-compare' }}</h2>
      <h2>{{ 'rcalc.print-headline-amortisation' }}</h2>
      <h2>{{ 'rcalc.print-headline-system-data' }}</h2>
      <h2>{{ 'rcalc.print-headline-results' }}</h2>
    </div>
  </div>


  <div class="page page-default">
    <h2 class="page-headline page-headline-spacer">
      {{ 'rcalc.print-headline-base-data' }}
    </h2>
    <div class="avoid-page-break-inside print-result-grid">
      <kppk-react-results-material-sums [data]="materials_sums" />
      <kppk-react-results-material-top-grouped-bar-chart
        class="absorbing"
        [data]="materials_top_5.absorbing.items"
        [is_printing]="true"
      >
        <h2>{{ t?.materials_top_absorbing }}</h2>
      </kppk-react-results-material-top-grouped-bar-chart>
      <kppk-react-results-material-top-grouped-bar-chart
        class="emitting"
        [data]="materials_top_5.emitting.items"
        [is_printing]="true"
      >
        <h2>{{ t?.materials_top_emitting }}</h2>
      </kppk-react-results-material-top-grouped-bar-chart>
      <kppk-react-results-pie-chart-absorbing-emitting
        [data_s]="materials_top_5"
        [is_printing]="true"
      />
      <kppk-react-results-construction-site
        [form]="results.form_construction_site.value"
      />
      <kppk-react-results-container-village
        [form]="results.form_container_village.value"
      />
      <kppk-react-results-demolish-disposal
        [form]="results.form_demolish_disposal.value"
      />
      <kppk-react-results-excavation-pit
        [form]="results.form_excavation_pit.value"
      />
      <kppk-react-results-heating-system
        [form]="results.form_heating_system.value"
      />
      <kppk-react-results-pie-chart-co2-phases
        [data_s]="results"
        [material_s]="materials_sums"
      />
      <kppk-react-results-pie-chart-transport-creation-operation
        [data_s]="results"
        [material_s]="materials_sums"
        [is_printing]="true"
      />
    </div>
  </div>

  <div class="page page-default">
    <div class="avoid-page-break-inside">
      <h2 class="page-headline page-headline-spacer">{{ 'rcalc.print-headline-cost-compare' }}</h2>
      EMPTY
    </div>
  </div>

  <div class="page page-default">
    <div class="avoid-page-break-inside">
      <h2 class="page-headline page-headline-spacer">{{ 'rcalc.print-headline-cost-compare' }}</h2>
      <kppk-react-results-material-table [results]="materials"/>
    </div>
  </div>
  
  <div class="page page-default">
    <div class="avoid-page-break-inside">
      <h2 class="page-headline page-headline-spacer">{{ 'rcalc.print-headline-cost-compare' }}</h2>
      <kppk-react-results-materials-graph 
        class="inline-block h-full w-full" 
        [is_printing]="true" 
      />
    </div>
  </div>
}

</kppk-print-layout>  
