// .print-wrapper,
// .print-cover-sheet {
//   margin: 75px 0 65px 0 !important;
// }


.avoid-page-break-inside {
  page-break-inside: avoid;
  // border : 1px solid red;
}

.break-before {
 page-break-before: always;
}

.page-cover-sheet {
  display: block;
  // min-height: 100%;
  page-break-after: always;
}

.print-cover {
  position: relative;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: 25px;
}


//   // background-color: yellow !important;
//   table {
//     th{
//       &.table-headline {
//         font-size: 14px;
//         padding: 0 5px;
//       }
//       &.minor-section {
//         font-size: 12px;
//         padding: 0 3px;
//       }
//     }
//     td {
//       font-size: 12px;
//       padding: 0 2px;
//       // background-color: red;
//     }
//   }
// }

.print-result-grid {
  display: grid;
  display: flex;
  flex-direction: column;
  // background-color: red;
  // gap: 1rem 2rem;
  // grid-template-columns: repeat(1, 1fr);
  // grid-template-areas:
  //   'sum sum'
  //   'emi abs'
  //   'cv dd'
  //   'ep ep'
  //   'pca hs'
  //   'pca ph'
  //   'op  ph';
}
