// .print-wrapper,
// .print-cover-sheet {
//   margin: 75px 0 65px 0 !important;
// }

.avoid-page-break-inside {
  page-break-inside: avoid;
  // border : 1px solid red;
}

// .page {
//   table, tr, th, td {
//     background-color: transparent !important;
//   }
//   tr {
//     border: none;
//   }
// }

.page-cover-sheet {
  display: block;
  // min-height: 100%;
  page-break-after: always;
}

.print-cover {
  position: relative;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: 25px;
}

.print-result-headline-wrapper {
  text-align: center;
  // width: 300px;
  padding: 50px 0 0 50px;
}

.print-project-headline-wrapper {
  width: 100%;
  margin: 50px 0 0 50px;

  h2 {
    line-height: 18px;
  }
}

.page-default {
  // page-break-after: always;
  position: relative;
  // min-height: 100%;

  h1.page-start-headline {
    padding: 35px 0 16px 0;
  }

  table {
    border: 1px solid black;
    &.no-bottom-border {
      border-bottom: none !important;
    }
    &.no-top-border {
      border-top: none !important;
    }
    tr {
      border-bottom: 1px solid black;
    }
    td,
    th {
      break-before: auto;
      break-inside: avoid;
      
      border-right: 1px solid black;

      border-left: 1px solid black;
    }

    /** OVERRIDE table-style in print **/
    &.table-amort {
      th:first-child,
      td:first-child {
        display: none;
      }
      td {
        border: none;
        border-bottom-style: solid;
        border-bottom-color: inherit;
        border-width: 2px !important;
      }
    }
  }
}

.page-headline-spacer {
  padding: 35px 0 25px;
}

.is-printing {
  .pv-system-table,
  .system-table {
    tr {
      td {
        &:first-child {
          border-color: black;
        }
      }
    }
  }
}
.is-printing {
  // background-color: yellow !important;
  table {
    th{
      &.table-headline {
        font-size: 14px;
        padding: 0 5px;
      }
      &.minor-section {
        font-size: 12px;
        padding: 0 3px;
      }
    }
    td {
      font-size: 12px;
      padding: 0 2px;
      // background-color: red;
    }
  }
}
