<section class="flex flex-col gap-32 xl:flex-row">
  <article class="terms-and-conditions prose w-full max-w-none"> 
    <section class="header">
      <h1>Datenschutzerklärung</h1>
    </section>
    <section class="content gap-16 text-justify lg:columns-xs">
    <p>
      Der Schutz Ihrer personenbezogenen Daten ist der KPPK Ziviltechniker GmbH,
      Gumpendorfer Straße 132/1/9, 1060 Wien, (nachfolgend: ‘‘<b>KPPK</b>‘‘,
      ‘‘<b>wir</b>‘‘, ‘‘<b>uns</b>‘‘) wichtig. Wir verarbeiten Ihre
      personenbezogenen Daten ausschließlich im Rahmen der gesetzlichen
      Bestimmungen der Datenschutzgrundverordnung (DSGVO), des österreichischen
      Datenschutzgesetzes (DSG) und des Telekommunikationsgesetzes, (TKG).
      Nachfolgend informieren wir Sie über die wichtigsten Aspekte der
      Datenverarbeitung im Rahmen unserer Webseite www.kppk.at (Webseite).
    </p>
    <h2>1. Welche Daten verarbeiten wir?</h2>
    <h3>1.1. Kontakt mit uns:</h3>
    <p>
      Wenn Sie per E-Mail oder telefonisch mit uns Kontakt aufnehmen, werden die
      von Ihnen freiwillig angegebenen personenbezogenen Daten (zB Name und
      Kontaktdaten) und der Inhalt Ihrer Nachricht an uns verarbeitet. Diese Daten
      verarbeiten wir zur Bearbeitung Ihrer Anfragen und für den Fall von weiteren
      Fragen, zur Erfüllung unserer (vor- )vertraglichen Pflichten.
    </p>
    <h3>1.2. Registrierung für R.E.A.C.T.®</h3>
    <p>
      Über die Webseite www.rose-kppk.at haben Sie die Möglichkeit, einen Zugang
      zu unserer Software R.E.A.C.T.® zu beantragen. Dazu verarbeiten wir Ihren
      Namen, Benutzernamen, Adresse, E-Mail-Adresse und ggf Firma und UID Nummer.
      Zudem verarbeiten wir Ihre Rechnungsdaten. Die Daten sind erforderlich,
      damit wir Sie registrieren und Ihnen den Zugang zur Verfügung stellen
      können. Die Verarbeitung erfolgt somit zur Erfüllung unserer
      (vor-)vertraglichen Pflichten Ihnen gegenüber.
    </p>
    <h3>1.3. Nutzungsdaten:</h3>
    <p>
      Wenn Sie unsere Webseite besuchen, erfassen wir die IP Adresse Ihres Geräts,
      den verwendeten Internetbrowser, die Browsersprache, Ihr Betriebssystem, die
      auf unserer Webseite angeforderten Dateien, Ihre Einstellungen zu Java,
      Bildschirmauflösung, Ihr Klickverhalten auf der Webseite (Uhrzeit des
      Zugriffs, Klicks) sowie die Internetseite, von der aus Sie uns besuchen
      (Referrer, URL). Wir verwenden Ihre personenbezogenen Daten für die
      folgenden Zwecke aufgrund unserer berechtigten Interessen:
    </p>
    <ul>
      <li>
        Verbesserungen unserer Services und unserer Webseite und Erhöhung der
        Benutzerfreundlichkeit und Sicherheit sowie;
      </li>
      <li>
        zur Personalisierung der Services für Nutzer der Webseite durch die
        temporäre Speicherung von Suchparametern.
      </li>
    </ul>
    <h3>1.4. Bewerbungen</h3>
    <p>
      Wenn Sie auf eine Stellenanzeige auf unserer Webseite reagieren und sich bei
      uns bewerben, verarbeiten wir die von Ihnen freiwillig an uns übermittelten
      Bewerbungsunterlagen samt den darin enthaltenen personenbezogenen Daten (zB
      Name, Kontaktdaten, Lebenslauf, Zeugnisse und Motivationsscheiben). Die
      Verarbeitung erfolgt zur Prüfung und Verwaltung Ihrer Bewerbung zur
      Erfüllung unserer (vor-)vertraglichen Pflichten Ihnen gegenüber.
    </p>
    <h2>2. Weitergabe der Daten</h2>
    <p>
      Wir überlassen Ihre personenbezogenen Daten soweit erforderlich an folgende
      externe Dienstleister (Auftragsverarbeiter):
    </p>
    <ul>
      <li>
        An IT-Dienstleister und/oder Anbieter von Datenhosting oder
        Datenverarbeitung oder ähnlichen Diensten;
      </li>
      <li>
        An sonstige Dienstleister, Anbieter von Softwarelösungen, die uns
        ebenfalls bei der Erbringung unserer Leistungen unterstützen und in
        unserem Auftrag tätig werden. Alle unsere Auftragsverarbeiter verarbeiten
        Ihre Daten nur in unserem Auftrag und auf Basis unserer Weisungen für die
        Erbringung der oben genannten Leistungen.
      </li>
    </ul>
    <p>
      Außerdem übermitteln wir Ihre personenbezogenen Daten soweit erforderlich an
      folgende Empfänger:
    </p>
    <ul>
      <li>
        An etwaige Dritte, die an der Erfüllung unserer Verpflichtungen Ihnen
        gegenüber mitwirken (etwa Banken zur Zahlungsabwicklung);
      </li>
      <li>
        An sonstige externe Dritte im erforderlichen Ausmaß auf Basis unserer
        berechtigten Interessen (z.B. Wirtschaftsprüfer, Versicherungen im
        Versicherungsfall, Rechtsvertreter im Anlassfall, etc.);
      </li>
      <li>
        An Behörden und sonstige öffentliche Stellen im gesetzlich verpflichtenden
        Ausmaß (z.B. Finanzbehörden, Datenschutzbehörde etc.).
      </li>
    </ul>
    <h2>3. Wie werden Ihre Daten geschützt?</h2>
    <p>
      Wir treffen angemessene technische und organisatorische
      Sicherheitsmaßnahmen, um Ihre personenbezogenen Daten gegen unbeabsichtigte
      oder unrechtmäßige Löschung, Veränderung, Schädigung oder gegen Verlust und
      gegen unberechtigte Weitergabe oder unberechtigten Zugriff zu schützen.
      Darüber hinaus sind wir und unsere Mitarbeiter zur Einhaltung des
      Datengeheimnisses verpflichtet.
    </p>
    <h2>4. Verwendung von Cookies</h2>
    <p>
      Unsere Webseite verwendet Cookies. Dabei handelt es sich um kleine
      Textdateien, die mit Hilfe des Browsers auf Ihrem Endgerät abgelegt werden.
      Sie richten keinen Schaden an Ihrem Endgerät an.<br />
      Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige
      Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Dies
      ermöglicht uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.<br />
      Die meisten der von uns verwendeten Cookies sind sogenannte Session Cookies,
      die nur für die Zeitdauer Ihres aktuellen Besuchs auf unserer Webseite
      abgelegt werden. Diese temporären Cookies ermöglichen Ihnen eine
      komfortablere Nutzung unserer Webseite (etwa durch Adaptierung von
      Nutzereinstellungen zur Sortierung der Verweise und Sprachwahl nach Ihren
      Bedürfnissen). Session-Cookies haben nur für die Dauer Ihres konkreten
      Besuchs auf der Website Gültigkeit und werden anschließend automatisch
      gelöscht. Darüber hinaus verwenden wir auch Persistent Cookies, die auf
      Ihrem Gerät erhalten bleiben und nicht automatisch gelöscht werden, wenn Sie
      Ihren Browser schließen. Selbstverständlich können Sie auch diese Cookies
      aber jederzeit selbst löschen. Persistent Cookies haben insbesondere den
      Zweck, Ihre Benutzererfahrung bei einem erneuten Aufruf unserer Webseite zu
      verbessern, indem die Webseite auf Ihre persönlichen Bedürfnisse angepasst
      ist und dadurch auch Ladezeiten optimiert werden können.
    </p>
    <h3>4.1. Wir setzen auf unserer Webseite folgende Arten von Cookies ein:</h3>
    <p>Necessary Cookies und Functionality Cookies:</p>

    <table>
      <thead>
        <tr>
          <td>Cookie</td>
          <td>Zweck</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>fg-auth-user</td>
          <td>
            Sofern vom Benutzer aktiv ausgewählt, werden die Anmeldedaten für den
            nächsten Besuch gespeichert.
          </td>
        </tr>
        <tr>
          <td>fg-auth-token</td>
          <td>
            Speichert die Zugriffsberechtigung nach erfolgreicher Anmeldung.
          </td>
        </tr>
        <tr>
          <td>fg-auth-local-user-profile</td>
          <td>
            Speichert vom Benutzer ausgewählte Einstellungen (wie zB verwendete
            Sprache)
          </td>
        </tr>
        <tr>
          <td>fg-back_navigation_history_cookie</td>
          <td>
            Speichert die vom Benutzer besuchten Seiten zur Bereitstellung einer
            Zurück-Button-Funktion im PWA-Modus der Anwendung.
          </td>
        </tr>
        <tr>
          <td>Session Cookie</td>
          <td>
            Dient dazu, mehrere Anfragen eines Nutzers auf einer Seite zuzuordnen.
            Wird nach der Sitzung gelöscht.
          </td>
        </tr>
      </tbody>
    </table>
    <P>
      Diese Cookies sind technisch zwingend erforderlich, um Ihnen unsere Webseite
      und die damit zusammenhängenden Dienste zur Verfügung stellen zu können, um
      unsere Webseite zu betreiben und dienen der ordnungsgemäßen Funktionalität
      und Sicherheit unserer Webseite. Diese Cookies sind daher zu Wahrung unserer
      berechtigten Interessen an der Zurverfügungstellung einer nutzerfreundlichen
      und sicheren Webseite erforderlich. Wenn sie dies nicht wünschen, können Sie
      Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies
      informiert und Sie dies nur im Einzelfall zulassen. In diesem Fall erfassen
      wir lediglich anonyme Daten über Ihren Besuch unserer Webseite, um z.B. die
      Gesamtanzahl der Besucher unserer Webseite feststellen zu können. Bei der
      Deaktivierung von Cookies kann die Funktionalität unserer Webseite
      eingeschränkt sein die Nutzung unserer Webseite ist trotzdem (jedoch mit
      Einschränkungen) möglich.
    </P>

    <h2>5. Aufbewahrungs- und Löschfristen:</h2>
    <p>
      Wir speichern Ihre personenbezogenen Daten nur solange, als sie zur
      Erfüllung unserer Verpflichtungen Ihnen gegenüber notwendig sind. Die zur
      Erfüllung der Rechnungslegungspflichten (§§ 190, 212 UGB) und
      steuerrechtlicher Vorgaben (§ 132 BAO) notwendigen Daten werden jedenfalls
      sieben Jahre aufbewahrt. Darüber hinaus erfolgt im Einzelfall eine längere
      Aufbewahrung bis zur Beendigung der Geschäftsbeziehung bzw. eines
      Rechtsstreits bzw. bis zum Ablauf der Gewährleistungs- und Garantiefristen
      sowie der Verjährungsfristen für den Fall der Geltendmachung von
      Schadenersatzansprüchen bzw. soweit dies zur Geltendmachung
      urheberrechtlicher Ansprüche erforderlich ist.<br />
      Die Daten aus Ihren Anfragen speichern wir für die Dauer von sechs Monaten,
      um auf etwaige Rückfragen reagieren zu können. Daten im Zusammenhang mit der
      Registrierung und Bezug unserer Software speichern wir für die Dauer des
      Zugangs und darüber hinaus weitere sieben Jahre zur Erfüllung unserer
      Rechnungslegungspflichten. Wenn Sie uns eine Bewerbung schicken und kein
      Arbeitsverhältnis zustande kommt, speichern wir Ihre Daten daraus bis zu
      sieben Monaten ab der Absage. Bei der Anstellung finden Sie weitere
      Informationen zur Verarbeitung dieser Daten in der Datenschutzerklärung für
      Mitarbeiter.
    </p>
    <h2>6. Ihre Rechte</h2>
    <p>
      Sie haben das Recht Informationen auf klare, transparente und leicht
      verständliche Art und Weise darüber zu erhalten, wie wir die
      personenbezogenen Daten verarbeiten sowie über Ihre Rechte als Betroffener
      (Art 13 ff DSGVO): Sie haben daher ein Recht auf Auskunft über die von uns
      über Sie verarbeiteten personenbezogenen Daten. Zusätzlich haben Sie das
      Recht auf Berichtigung unrichtiger Daten und Löschung Ihrer
      personenbezogenen Daten (Recht auf Vergessenwerden). Sie können darüber
      hinaus Ihre Einwilligung zur Verarbeitung personenbezogener Daten mit
      Wirkung für die Zukunft widerrufen, wenn die Verarbeitung auf Ihrer
      Zustimmung basiert. Ihnen steht weiterhin ein Recht auf Einschränkung der
      Verarbeitung, auf Herausgabe der von Ihnen bereitgestellten Daten in einem
      strukturierten, gängigen und maschinenlesbaren Format (Datenübertragbarkeit)
      und das <b>Recht auf Widerspruch</b> zu. Damit wir Ihre Anfrage zu Ihren
      oben genannten Rechten bearbeiten können und um sicherzustellen, dass
      personenbezogene Daten nicht an unberechtigte Dritte herausgegeben werden,
      richten Sie bitte die Anfrage unter eindeutiger Identifizierung Ihrer Person
      sowie mit kurzer Beschreibung über den Umfang der Ausübung Ihrer oben
      aufgelisteten Betroffenenrechte direkt an uns:
    </p>
    <p class="font-semibold">
      KPPK Ziviltechniker GmbH
      <br />Gumpendorfer Straße 132/1/9 <br />1060 Wien <br />t.: +43 1 535 21 23,
      f: -30 <br />mail: office&#64;kppk.at
    </p>
    <p>
      Weiters haben Sie das Recht sich bei der Aufsichtsbehörde zu beschweren. In
      Österreich ist dies die Datenschutzbehörde, Barichgasse 40-42, 1030 Wien.
    </p>
    <h2>7. Schlussbestimmungen</h2>
    <p>
      Wir werden diese Datenschutzbestimmungen laufend an etwaige technische und
      Rechtsentwicklungen anpassen. Änderungen werden wir auf der Webseite
      rechtzeitig bekanntgeben. Daher sollten Sie diese Datenschutzbestimmungen
      regelmäßig aufrufen, um sich über den aktuellen Stand zu informieren.
    </p>
    <p class="data-protection-no-column">
      <b>Stand: August 2022 </b>
    </p>
    </section>
  </article>
</section>
