@let sup = $translate.supplant; @let t = kppk_react_home_translationsS();
<fg-layout-default class="h-full">
  <header header class="!p-0">
    <mat-toolbar class="relative">
      <h1>{{ t?.headline_start_calc_modal }}</h1>
      <div class="flex-auto"></div>
      <button mat-mini-fab color="warn" (click)="close_modal($event)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <section content class="!px-6 !py-12">
    <!-- <h2>{{ t?.content_provide_calculation_data }}</h2> -->
    <!-- <div>{{ t?.content_provide_calculation_data_choose_option }}</div> -->
    <div class="flex flex-col gap-4">
      @if( !selected_s() ) {
      <button
        class="w-full"
        mat-stroked-button
        color="primary"
        (click)="select_from_files($event)"
      >
        <mat-icon>folder_open</mat-icon>
        {{ t?.content_provide_calculation_data_from_files }}
      </button>
      <button
        class="w-full"
        mat-stroked-button
        color="primary"
        (click)="select_from_stored($event)"
      >
        <mat-icon>save</mat-icon>
        {{ t?.content_provide_calculation_data_from_storage }}
      </button>
      } @if(selected_from_files_s()) {
      <h3>{{ t?.headline_selected_from_files }}</h3>
      <mat-form-field class="w-full">
        <ngx-mat-file-input
          [formControl]="oi3_file"
          [valuePlaceholder]="t?.placeholder_oi3_file ?? ''"
          accept=".pdf"
          required
        />
        <mat-icon matPrefix>folder</mat-icon>
        @if(oi3_file.value) {
        <!-- <button 
                                mat-icon-button matSuffix 
                                (click)="oi3_file.reset()"
                            >
                                <mat-icon>clear</mat-icon>
                            </button> -->
        } @else {
        <div class="px-2" matSuffix>.pdf</div>
        } @if(oi3_file.hasError('required')) {
        <mat-error>
          {{ t?.error_required }}
        </mat-error>
        } @if(oi3_file.hasError('maxContentSize')) {
        <mat-error>
          {{
            sup(t?.error_max_file_size, {
              max_size:
                oi3_file.getError('maxContentSize').maxSize | byteFormat,
              actual_size:
                oi3_file.getError('maxContentSize').actualSize | byteFormat
            })
          }}
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <ngx-mat-file-input
          [formControl]="aufbauten_file"
          [valuePlaceholder]="t?.placeholder_aufbauten_file ?? ''"
          accept=".txt"
          required
        />
        <mat-icon matPrefix>folder</mat-icon>
        @if(aufbauten_file.value) {
        <!-- <button 
                                mat-icon-button matSuffix 
                                (click)="aufbauten_file.reset()"
                            >
                                <mat-icon>clear</mat-icon>
                            </button> -->
        } @else {
        <div class="px-2" matSuffix>.txt</div>
        } @if(aufbauten_file.hasError('required')) {
        <mat-error>
          {{ t?.error_required }}
        </mat-error>
        } @if(aufbauten_file.hasError('maxContentSize')) {
        <mat-error>
          {{
            sup(t?.error_max_file_size, {
              max_size:
                aufbauten_file.getError('maxContentSize').maxSize | byteFormat,
              actual_size:
                aufbauten_file.getError('maxContentSize').actualSize
                | byteFormat
            })
          }}
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <ngx-mat-file-input
          [formControl]="bauteilflaechen_file"
          [valuePlaceholder]="t?.placeholder_bauteilflaechen_file ?? ''"
          accept=".csv"
          required
        />
        <mat-icon matPrefix>folder</mat-icon>
        @if(bauteilflaechen_file.value) {
        <!-- <button 
                                mat-icon-button matSuffix 
                                (click)="bauteilflaechen_file.reset()"
                            >
                                <mat-icon>clear</mat-icon>
                            </button> -->
        } @else {
        <div class="px-2" matSuffix>.csv</div>
        } @if(bauteilflaechen_file.hasError('required')) {
        <mat-error>
          {{ t?.error_required }}
        </mat-error>
        } @if(bauteilflaechen_file.hasError('maxContentSize')) {
        <mat-error>
          {{
            sup(t?.error_max_file_size, {
              max_size:
                bauteilflaechen_file.getError('maxContentSize').maxSize
                | byteFormat,
              actual_size:
                bauteilflaechen_file.getError('maxContentSize').actualSize
                | byteFormat
            })
          }}
        </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <ngx-mat-file-input
          [formControl]="heating_system_file"
          [valuePlaceholder]="t?.placeholder_heating_system_file ?? ''"
          accept=".pdf"
          required
        />
        <mat-icon matPrefix>folder</mat-icon>
        @if(heating_system_file.value) {
        <!-- <button 
                                mat-icon-button matSuffix 
                                (click)="heating_system_file.reset()"
                            >
                                <mat-icon>clear</mat-icon>
                            </button> -->
        } @else {
        <div class="px-2" matSuffix>.pdf</div>
        } @if(heating_system_file.hasError('required')) {
        <mat-error>
          {{ t?.error_required }}
        </mat-error>
        } @if(heating_system_file.hasError('maxContentSize')) {
        <mat-error>
          {{
            sup(t?.error_max_file_size, {
              max_size:
                heating_system_file.getError('maxContentSize').maxSize
                | byteFormat,
              actual_size:
                heating_system_file.getError('maxContentSize').actualSize
                | byteFormat
            })
          }}
        </mat-error>
        }
      </mat-form-field>
      } @if(selected_from_stored_s()) {
      <h3>{{ t?.headline_selected_from_stored }}</h3>

      }
    </div>
  </section>
  <footer footer class="flex flex-row gap-4 !px-6">
    <!-- <div class="flex-auto"></div> -->
    @if( selected_s() ) {
    <button
      class="flex-1"
      mat-stroked-button
      color="accent"
      (click)="back($event)"
    >
      <mat-icon>undo</mat-icon>
      {{ t?.button_back }}
    </button>
    } @else {
    <button
      class="flex-1"
      mat-stroked-button
      color="warn"
      (click)="close_modal($event)"
    >
      <mat-icon>close</mat-icon>
      {{ t?.button_cancel }}
    </button>
    }
    <button
      class="flex-1"
      [disabled]="!selected_ready_s()"
      mat-stroked-button
      color="primary"
      (click)="start_calc($event)"
    >
      <mat-icon>play_arrow</mat-icon>
      {{ t?.button_start_calc }}
    </button>
  </footer>
</fg-layout-default>
