<fg-layout-default>
  @if( show_admin_toolbar_s() ) {
    <kppk-admin-toolbar header></kppk-admin-toolbar>
  }
  <!-- <fg-layout-drawer #drawer content class="flex h-full min-h-full flex-col"> -->
    <nav kppk-react-navigation start class="min-w-1/4 h-full"></nav>
    <!-- <ng-template start [cdkPortalOutlet]="drawerContent$ | async"></ng-template> -->
    <fg-layout-default content>
      <header kppk-react-header header></header>
      <div content class="flex h-full min-h-full flex-col">
        <!-- <fg-sw-update-banner></fg-sw-update-banner> -->
        <div class="flex h-full min-h-full flex-auto flex-row">
            <aside class="hidden md:inline-block">
              <nav kppk-react-navigation class="nav-desktop h-full min-h-full w-[300px]"></nav>
            </aside>
            <main class="h-full min-h-full flex-auto">
              <ng-content  select="[content]"/>
            </main>
        </div>
      </div>
      <div class="vertical-btn-bar">
        <ng-content select="[verticalButtonBar]"></ng-content>
      </div>
      <footer kppk-react-footer footer></footer>
    </fg-layout-default>
    <!-- <ng-template end [cdkPortalOutlet]="drawerContent$ | async"></ng-template> -->
    <nav kppk-react-navigation end class="min-w-1/4 h-full"></nav>
  <!-- </fg-layout-drawer> -->
</fg-layout-default>
