<div class="header">
  <mat-toolbar>
    <mat-toolbar-row>
      <!-- <fg-layout-drawer-open-drawer-button class="xs:show hidden" from="start"> -->
        <button
          mat-icon-button
          [attr.aria-label]="'general.menu'"
        >
          <mat-icon>menu</mat-icon>
        </button>
      <!-- </fg-layout-drawer-open-drawer-button> -->
      <a
        class="relative -top-4 left-4 inline-block"
        routerLink="/home"
        routerLinkActive="active"
        class="relative inline-block"
      >
        <img
          class="mr-[16px] aspect-auto h-5"
          alt="R.E.A.C.T. Reduction Analysis Tool Logo"
          src="./images/react/react-logo-small.png"
        />
        <div class="absolute -top-[12px] right-0">®</div>
      </a>
      <div class="flex-auto"></div>
      <!-- <a
        [routerLink]="[route_calc, {
          outlets: {
            print_view_outlet: [route_calc_print]
          }
        }]"
        class="print-btn"
        mat-mini-fab
        color="primary"
        [disabled]="this.$pagedjs.print_enabled_s()"
        [matTooltip]="general.print'"
        [attr.aria-label]="general.print'"
        (click)="print($event)"
      >
        <mat-icon>print</mat-icon>
      </a> -->
      @if( is_authorized_s() ) {
        <button
          class="logout-btn"
          mat-icon-button
          color="warn"
          [matTooltip]="'general.logout'"
          [attr.aria-label]="'general.logout'"
          (click)="logout($event)"
        >
          <mat-icon>logout</mat-icon>
        </button>
      } 
      @else {
        <a 
        mat-icon-button
        color="primary" 
        routerLink="/{{ HOST_ROUTES.HOME }}"
        [matTooltip]="'general.login'"
        [attr.aria-label]="'general.login'"
        >
          <mat-icon>login</mat-icon>
        </a>
      } 
      <!-- <fg-layout-drawer-open-drawer-button from="end"> -->
        <button
          mat-icon-button
          [matTooltip]="'general.menu'"
          [attr.aria-label]="'general.menu'"
        >
          <mat-icon>menu</mat-icon>
        </button>
      <!-- </fg-layout-drawer-open-drawer-button> -->
    </mat-toolbar-row>
  </mat-toolbar>
</div>
