@let t = translationsS();
<div class="header">
  <mat-toolbar>
    <mat-toolbar-row>
      <fg-layout-drawer-open-button 
        class="sm:hidden" 
        [from]="'start'"
        [mode]="'push'"
      />
      <a
        class="relative -top-4 left-4 inline-block"
        routerLink="/home"
        routerLinkActive="active"
        class="relative inline-block"
      >
        <img
          class="mr-[16px] aspect-auto h-5"
          alt="{{ t?.alt_react_logo }}"
          src="./images/react/react-logo-small.png"
        />
        <div class="absolute -top-[12px] right-0">®</div>
      </a>
      <div class="flex-auto"></div>
      <a
        [routerLink]="[HOST_ROUTES.CALC, {
          outlets: {
            print_outlet: [HOST_ROUTES.CALC_PRINT]
          }
        }]"
        class="print-btn"
        mat-mini-fab
        color="primary"
        [matTooltip]="t?.label_print"
        [attr.aria-label]="t?.label_print"
        (click)="print($event)"
        >
        <!-- [disabled]="this.$pagedjs.print_enabled_s()" -->
        <mat-icon>print</mat-icon>
      </a>
      @if( auth_is_authorizedS() ) {
      <a
        mat-icon-button
        color="warn"
        [matTooltip]="t?.label_logout"
        [attr.aria-label]="t?.label_logout"
        routerLink="/{{ [HOST_ROUTES.AUTH, HOST_ROUTES.AUTH_LOGOUT].join('/') }}"
      >
        <mat-icon>logout</mat-icon>
      </a>
      } @else {
      <a
        mat-icon-button
        color="primary"
        routerLink="/{{ [HOST_ROUTES.AUTH, HOST_ROUTES.AUTH_LOGIN].join('/') }}"
        [matTooltip]="t?.label_login"
        [attr.aria-label]="t?.label_login"
      >
        <mat-icon>login</mat-icon>
      </a>
      }
      <fg-layout-drawer-open-button 
        class="hidden sm:inline-block lg:hidden" 
        [from]="'end'" 
        [mode]="'push'"
      />
    </mat-toolbar-row>
  </mat-toolbar>
  @if( spinner_is_pendingS() ){
    <mat-progress-bar class="absolute bottom-0 w-full" mode="indeterminate" />
  }
</div>
