@let ts = $translate;
@let t = translationsS();
<div class="main-navigation flex h-full min-h-full w-[300px] flex-col">
  <mat-list>
    <ng-content select="[top-list]"/>
    @if( can_install_pwaS() ){
    <mat-list-item class="pwa-install-item">
      <fg-pwa-install
        [tooltip]="t?.tooltip_install"
        [label]="t?.label_install"
        color="accent"
        class="w-full md:flex-1"
      />
    </mat-list-item>
    } @if( auth_is_authorizedS() ){
    <mat-list-item>
      <a
        class="w-full"
        mat-stroked-button
        color="primary"
        routerLink="/{{ HOST_ROUTES.HOME }}"
      >
        <mat-icon svgIcon="home" />
        {{ t?.route_home }}
      </a>
    </mat-list-item>
    <mat-list-item>
      <div class="h-10"></div>
    </mat-list-item>
    <mat-list-item>
      <a class="w-full" mat-stroked-button color="primary">
        <mat-icon svgIcon="download" />
        {{ t?.label_manual }}
      </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    @if(true) {
    <mat-list-item>
      <a class="w-full" mat-stroked-button color="primary">
        <mat-icon>add</mat-icon>
        {{ t?.label_calculation_start }}
      </a>
    </mat-list-item>
    } @else if (true) { Add List navigation }
    <mat-divider></mat-divider>
    } @else {
    <mat-list-item>
      <a
        class="w-full"
        mat-stroked-button
        color="primary"
        routerLink="/{{ HOST_ROUTES.AUTH_LOGIN }}"
        routerLinkActive="active"
      >
        <mat-icon>login</mat-icon>
        {{ t?.route_login }}
      </a>
    </mat-list-item>
    }
  </mat-list>
  <div class="flex-auto"></div>
  <!-- <div class="h-10"></div> -->
  <mat-list>
    <mat-list-item>
      <a
        class="w-full"
        mat-stroked-button
        color="primary"
        routerLink="/{{ HOST_ROUTES.IMPRINT }}"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="info" />
        {{ t?.route_imprint }}
      </a>
    </mat-list-item>
    <mat-list-item>
      <a
        class="w-full"
        mat-stroked-button
        color="primary"
        routerLink="/{{ HOST_ROUTES.DATA_PROTECTION }}"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="shield" />
        {{ t?.route_data_protection }}
      </a>
    </mat-list-item>

    <mat-list-item>
      <fg-language-switch
        class="mdc-button mat-mdc-unelevated-button !bg-white-100 w-full"
        [selected]="ts.lang_activeS()"
        [available_langs]="ts.langs_availableS()"
        [icon_path]="ts.langs_icons_pathS()"
        (selection)="ts.set_language($event)"
      />
    </mat-list-item>
    @if( auth_is_authorizedS() ){
    <mat-list-item>
      <a
        class="w-full"
        mat-stroked-button
        color="warn"
        routerLink="/{{ HOST_ROUTES.AUTH_LOGOUT }}"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="logout" />
        {{ t?.label_logout }}
      </a>
    </mat-list-item>
    }
  </mat-list>
</div>
