:host {
  display: block;
}

.mat-mdc-tab-body-wrapper {
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
}

.mat-mdc-tab {
  background-color: rgb(243, 246, 250);
  &.mdc-tab--active {
    background-color: rgb(233, 247, 214);
    .mdc-tab__text-label {
      color: black !important;
    }
  }
}
.table-result {
  td:nth-child(1) {
    // background-color: red !important;
    width: 400px;
  }
}
tr {
  &.co2_transport {
    background-color: rgb(239, 239, 240);
  }
  &.co2_creation {
    background-color: rgb(209 213 219);
  }
  &.sum-divider {
    border-top-style: double !important;
  }
}
td {
  padding-left: 5px;
}

.lg {
  .result-grid {
    display: grid;
    // background-color: red;
    gap: 1rem 4rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'sum sum sum cc cc cc'
      'emi emi emi cc cc cc'
      'emi emi emi cv cv cv'
      'abs abs abs dd dd dd'
      'abs abs abs ep ep ep'
      'pca pca pca  hs hs hs'
      'pca pca pca ph ph ph'
      'op  op  op ph ph ph';
  }
}
.result-grid {
  display: flex;
  flex-direction: column;
  // background-color: red;
  gap: 14px;
}
