@let t = translationsS();

<kppk-react-view-auth-layout-content 
  [form]="form" 
  [error]="errorS()" 
  [success]=" successS()"
  [pending]=" pendingS()"
>
  <ng-container header>
    <div class="relative">
      <img
        class="min-w-xs w-full max-w-md"
        alt="{{ t?.alt_react_logo }}"
        src="./images/react/react-logo.png"
      />
      <h1 class="invisible absolute top-0">{{ t?.headline_auth_login }}</h1>
    </div>
  </ng-container>

  <ng-container error>
    {{ t?.error_auth_login }}
  </ng-container>

  <ng-container success>
    {{ t?.success_auth_login }}
  </ng-container>

  <formly-form
    [model]="model"
    [form]="form"
    [fields]="fields"
  />

  <ng-container buttons>
    <fg-pwa-install
      class="order-2 w-full md:order-1 md:flex-1"
      [tooltip]="t?.tooltip_install"
      [label]="t?.label_install"
      [visible]="true"
      color="accent"
    />
    <button
      class="order-1 w-full md:order-2 md:flex-1"
      mat-stroked-button
      color="primary"
      type="submit"
      (click)="action($event)"
    >
      <mat-icon class="right-4">login</mat-icon>
      {{ t?.label_login }}
    </button>
  </ng-container>

  <div footer class="prose-sm flex flex-row flex-wrap items-start justify-between pt-4">
    <!-- <p> -->
      <a 
        mat-button 
        href="/{{ [HOST_ROUTES.AUTH, HOST_ROUTES.AUTH_PASSWORD_FORGOT].join('/') }}"
      >
        {{ t?.label_go_to_password_forgot }}
      </a>
      <br/>
      <a
        mat-button
        href="/{{[HOST_ROUTES.AUTH, HOST_ROUTES.AUTH_PASSWORD_FORGOT].join('/')}}"
      >
        {{ t?.label_go_to_account_create }}
      </a>
    <!-- </p> -->
  </div>

</kppk-react-view-auth-layout-content>
    