@let t = translationsS();

<kppk-react-view-auth-layout-content 
  [form]="form" 
  [error]="errorS()" 
  [success]=" successS()"
  [pending]=" pendingS()"
>

  <ng-container header>
    <div header class="prose-sm w-full text-center">
      <h1>{{ t?.headline_auth_password_reset }}</h1>
      <p> {{ t?.headline_sub_auth_password_reset }}</p>
    </div>
  </ng-container>

  <ng-container error>
    {{ t?.error_auth_password_reset  }}
  </ng-container>

  <ng-container success>
    {{ t?.success_auth_password_reset  }}
  </ng-container>

    <formly-form
      [model]="model"
      [form]="form"
      [fields]="fields"
    />

  <ng-container buttons>
    <button
      class="w-full md:order-2 md:flex-1"
      mat-stroked-button
      color="primary"
      type="submit"
      (click)="action($event)"
    >
      {{ t?.label_send }}
    </button>
    <a
      class="w-full md:order-1 md:flex-1"
      mat-stroked-button
      color="warn"
      href=""
    >
      {{ t?.label_back }}
    </a>
  </ng-container>

</kppk-react-view-auth-layout-content>
    