/* You can add global styles to this file, and also import other style files */
@use './styles/body-height-fix.scss' as body_height_fix;
// @use './styles/mobile_and_tablet-vs-desktop-body-settings' as mobile_and_tablet-vs-desktop-body-settings;
@use './styles/input-hide-number-stepper-firefox-webkit.scss' as hide_input_number_stepper_ff_wk;
@use './styles/kppk-fonts.scss' as kppk_fonts;
@use './styles/mat-input-filled-high-density-fix.scss' as mat_form_field_override;
@use './styles/mat-light-theme.scss' as mat_light_theme;
@use 'material-icons/iconfont/material-icons.css' as material_icons;

@tailwind base;
@tailwind components;
@tailwind utilities;

article {
    orphans: 4;
    h1, h2, h3, h4 {
        break-after: avoid;
        text-align: left;
    }
    p {
        &:first-child {
        margin-top: 0px
        }
        text-align: justify;
    }
    table {
        break-inside: avoid;
    }
}