:host {
  display: inline-block;
  min-height: 100%;
  overflow-y: hidden;
}
.vertical-btn-bar {
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 15px;
  z-index: 100;
}
.large {
  .nav-desktop {
    display: inline-block;
    background: var(
      --mat-toolbar-container-background-color,
      var(--mat-sys-surface)
    );
  }
}
.nav-desktop {
  display: none;
}
