@let s = $shared;
@let t = translationS();
<fg-layout-default>
  <ng-container header>
    @defer(when s.admin_toolbar_showS()) {
      <kppk-admin-toolbar [show]="s.admin_toolbar_showS()" />
    }
  </ng-container>
  <fg-layout-drawer #drawer content class="flex h-full min-h-full flex-col" [fixed]="true" [top]="topS()">
    <div start>
      <nav class="nav-mobile-start h-full" kppk-react-navigation>
        <mat-list-item top-list >
          <fg-layout-drawer-close-button class="w-full" [label]="t?.close"/>
        </mat-list-item>
      </nav>
    </div>
    <fg-layout-default content>
      <header #header kppk-react-header header class="sticky top-0"></header>
      <!-- <div content class="flex h-full min-h-full flex-col"> -->
        <!-- <fg-sw-update-banner class="sticky top-0" /> -->
        <div content class="flex h-full min-h-full flex-auto flex-row">
          <aside class="hidden lg:inline-block">
            <nav kppk-react-navigation class="nav-desktop h-full min-h-full"></nav>
          </aside>
          <main class="h-full min-h-full flex-auto">
            <ng-content select="[content]" />
          </main>
        </div>
      <!-- </div> -->
      <!-- <div class="vertical-btn-bar">
        <ng-content select="[verticalButtonBar]"></ng-content>
      </div> -->
      <footer kppk-react-footer footer></footer>
    </fg-layout-default>
    <!-- <ng-template end [cdkPortalOutlet]="drawerContent$ | async"/> -->
    <div end>
      <nav class="nav-mobile-end h-full" kppk-react-navigation>
        <mat-list-item top-list >
          <fg-layout-drawer-close-button class="w-full" [label]="t?.close"/>
        </mat-list-item>
      </nav>
    </div>
  </fg-layout-drawer>

</fg-layout-default>
