<section class="flex flex-col gap-32 xl:flex-row">
  <article class="terms-and-conditions prose w-full max-w-none xl:w-2/3"> 
    <section class="header">
      <h1>Terms of service</h1>
    </section>
    <section class="content gap-16 text-justify lg:columns-xs">
      <p>
        We, KPPK Ziviltechniker GmbH, Gumpendorferstraße 139/1/9, 1060 Vienna,
        office&#64;kppk.at, ("<b>KPPK</b>", "<b>we</b>", "<b>us</b>"), are pleased
        that you want to use our software solution for calculating the amortization
        time of investments in alternative energy sources R.E.A.C.T.® "Reckoning of
        Sustainable Energysystems" ("<b>Software</b>"). By registering and using the
        Software, you accept the following Terms and Conditions ("<b>T&C</b>").
      </p>
      <h2>1. SCOPE OF USE</h2>
      <p>
        The use of the Software provided by KPPK is exclusively permitted on the
        basis of the present T&C. The beta version of the Software was distributed
        free of charge and continuously further developed. To cover the development
        costs incurred to date, KPPK charges a one-time registration fee for any
        future use. The present T&C may be amended, modified or replaced by us at
        any time to reflect possible further developments of the Software. In this
        case, we will notify you of any changes via e-mail at least 14 days prior to
        the effective date of the updated T&C and provide you with an updated
        version. If you do not contradict the amendment within a 14 days period, you
        are deemed to consent to the updated T&C. We will highlight your right to
        revoke and the consequences of not doing so in such notice. In case you
        contradict the amendments, the agreed version of the T&C remains in force,
        unless we terminate your registration according to Pt 6 below.
      </p>
      <h2>2. CONDITIONS FOR USE</h2>
      <p>
        The offer is aimed at all natural and legal persons. Our Software is based
        on the Progressive Web App (PWA) architecture, which utilizes modern browser
        features and allows offline use. No installation on the respective end
        device is required. Due to the encrypted PWA architecture, all calculations
        are carried out in your browser.
      </p>
      <h2>3. REGISTRATION AND USER ACCOUNT</h2>
      <p>
        To use the Software, registration on the website
        <a href="https://www.rose-kppk.at"></a> is required. For the registration
        the one-time registration fee according to Pt 4 is due.<br />
        After registration, the user will receive an e-mail with payment
        instructions and a username. As soon as the registration fee is credited to
        our account, the user account will be activated with the assigned username.
        In another e-mail you will receive the access password. However, we reserve
        the right to refuse the registration of a user before the payment of the
        registration fee without giving any reason.<br />
        The user agrees to provide accurate and complete information and to keep the
        account information up to date. By registering, the user confirms the
        accuracy of the information provided.<br />
        Furthermore, the user is obligated to keep his access data (username and
        password) secret and not to disclose them to third parties. If the user
        allows a third party to use the Software contrary to these T&C, we are
        entitled to block the user account and to exclude the user from the use of
        the Software according to Pt 6 and to charge a penalty fee in the amount of
        the registration fee according to Pt 4.
      </p>
      <h2>4. REGISTRATION FEE</h2>
      <p>
        The registration fee is determined on our website. The fee is in Euro and
        includes VAT but excludes any other taxes, fees and public charges. The
        payment period is 14 days from the date of receipt of the invoice.
      </p>
      <h2>5. SCOPE OF FUNCTIONS</h2>
      <p>Our Software includes the following functions:</p>
      <ul>
        <li>
          Comparison of investments in alternative (e.g. solar energy, air or
          geothermal energy) and thermal energy sources (e.g. natural gas);
          comparison of amortization time over several decades using the cash value
          method;
        </li>
        <li>
          Overview of current government subsidies, projected energy price and
          interest rate developments;
        </li>
        <li>
          Representation of CO2 savings on a percentage basis and with future
          effect.
        </li>
      </ul>
      <p>
        The comparison depends on the data of the respective project such as energy
        performance certificate, heating load or building data (gross floor area,
        building class, building type etc) and data on existing energy systems (base
        costs, annual changes, CO2-equivalent). Based on these inputs, the Software
        uses predefined parameters to calculate non-binding potential savings when
        switching to alternative energy sources. The calculated parameters are based
        exclusively on our internal cost structure for corresponding new
        construction- or refurbishment projects.<br />
        <b
          >All results are only approximate values, which, according to the
          manufacturers, can be achieved under ideal conditions if you implement
          your project with us.</b
        >
        Actual savings may be lower than shown in the calculation, in particular due
        to the exhaustion of government subsidies or other restrictions.
        <b
          >The comparison result of the Software is therefore for information
          purposes only and does not represent a binding commitment of actual cost
          savings or a concrete cost estimate.</b
        >
        The extent of concrete savings potential can always only be determined in
        the context of an actual project offer through us.<br />
        Insofar as it is economically and technically reasonable for us, we will
        endeavor to maintain the functions of the Software on an ongoing basis. We
        are entitled to make the Software temporarily inaccessible for maintenance
        purposes. In addition, we may, but are not obligated to, further develop the
        Software and perform updates and upgrades. The user has no right to the free
        of charge provision of updates and upgrades. We reserve the right to charge
        an additional fee for the provision of updates and upgrades.
      </p>
      <h2>6. PERIOD OF USE AND TERMINATION</h2>
      <p>
        After payment of the registration fee, the Software is made available to the
        user for an indefinite period of time. However, we are not obligated to
        guarantee a minimum duration of use and are entitled to terminate your right
        to use the Software with one month's notice. We are entitled to restrict
        your use of the Software or to exclude you from it at any time for good
        cause in our sole discretion. Good cause shall be deemed to exist in
        particular in the event of a violation of these T&C or any applicable law.
        Furthermore, we are entitled to discontinue the provision of the Software if
        this is no longer technically and economically reasonable for us or if the
        Software has been further developed through updates and upgrades. In this
        case we are entitled to discontinue the outdated version. In the latter
        case, the user can secure a further possibility of use by paying a fee if we
        make a corresponding offer, which is within our discretion. Likewise, we may
        terminate your right of use in the event of an objection to amended T&C of
        use for good cause. You can also delete your account at any time or request
        a deletion from us within 14 days. After that, you will no longer be able to
        use the Software. In any case of termination, whether by us or you, the user
        has no right to a full or partial refund of the registration fee.
      </p>
      <h2>7. OBLIGATIONS OF THE USER</h2>
      <p>
        Users undertake to comply with the T&C and to provide correct and valid data
        during the registration process. Users are responsible for any necessary
        software, hardware and internet connection. In particular, the user is
        prohibited to
      </p>
      <ul>
        <li>
          make untrue statements and allegations or provide information against
          better knowledge;
        </li>
        <li>
          promote any illegal activity, or to advocate, promote or assist any
          unlawful act;
        </li>
        <li>
          violate legal rights of others or to submit any content that could give
          rise to any civil or criminal liability under applicable laws or that
          otherwise may be in conflict with these T&amp;C;
        </li>
        <li>
          enter data that is capable of causing damage to the Software, our servers
          or other technical equipment of KPPK
        </li>
        <li>
          decompile, disassemble, reverse engineer, copy, transfer, or otherwise use
          the Software or any content except as permitted by copyright law;
        </li>
        <li>
          crawl, scrape, cache or otherwise assess any content via automated means;
        </li>
        <li>
          submit any material or content that attempts to falsely state or otherwise
          misrepresent your identity or affiliation with a person or entity;
        </li>
        <li>
          use the Software in a manner that (i) is likely to interrupt, suspend,
          slow down or hinder the continuity, (ii) constitutes an intrusion or
          attempt to break into the Software or our IT infrastructure, (iii) will
          divert system resources of the Software, (iv) may place a disproportionate
          load on the infrastructure of the Software, or (v) constitutes an attack
          on security and authentication measures of the Software or our IT
          infrastructure;
        </li>
        <li>
          distribute any part of the Software, including but not limited to any
          content, in any medium without prior written authorisation of us or the
          respective owner;
        </li>
        <li>
          otherwise use the Software for purposes other than those for which it is
          designed.
        </li>
      </ul>
      <h2>8. COPYRIGHT AND INTELLECTUAL PROPERTY RIGHTS</h2>
      <p>
        Except for the information provided by the users, all elements of the
        Software, in particular the design, structure, development logic and content
        of the linked database are protected by copyright and further intellectual
        property rights. Without our explicit consent, the user does not acquire the
        right to reproduce, distribute, rent or lend, make available to the public,
        broadcast, perform and present, display, edit, translate or otherwise
        exploit the Software or individual elements thereof.
      </p>
      <h2>9. WARRANTY</h2>
      <p>
        We provide the Software with due care. All calculation methods are based on
        the state of the art. The calculation methods and comparative energy prices
        are updated regularly - at least once a year - in order to keep the Software
        up-to-date. However, it is not possible to completely avoid errors, possible
        violations by third parties or malfunctions in the Software. Therefore, we
        do not assume any warranty - also taking into account the risks of the
        Internet - for the correctness, reliability, quality, suitability,
        completeness and availability of our Software or the results obtained.
        Accordingly, content of the Software may be out of date, incomplete or
        inaccurate. We will make every effort to correct any errors found or
        reported.<br />
        The respective comparison results depend on the information provided by the
        user and are only estimates under ideal conditions. Actual savings may
        differ from those calculated by the Software due to the large amount of
        external influencing factors. We do not assume any liability for the
        correctness, reliability, availability and accuracy of the content. In
        particular, we are not liable for the correctness and completeness of the
        displayed information and savings potential.<br />
        The user must examine the Software for defects in accordance with Sections
        377 ff of the Austrian Business Code. Any defects discovered shall be
        notified to us in writing without delay, but no later than five calendar
        days after the Software has been made available, stating the nature and
        extent of the defect. Hidden defects must be notified to us in writing
        without delay, but no later than five calendar days after their discovery.
        The burden of proof for the existence of defects shall be borne by the user.
        The presumption of defectiveness according to Section 924 of the Austrian
        Civil Code is excluded. We may, at our discretion, remedy the defect by
        eliminating the defect, installing a workaround, provide the user with a new
        program version or point out ways to avoid the effects of the defect. Price
        reduction and redhibitory action are excluded. Warranty claims can be
        asserted in court at the latest within 6 months after the Software has been
        made available.
      </p>
      <h2>10.FORCE MAJEURE</h2>
      <p>
        Insofar and as long as obligations cannot be fulfilled on time or properly
        as a result of force majeure, such as war, terrorism, natural disasters,
        fire, strike, lockout, embargo, sovereign intervention, epidemics such as
        the Corona virus, failure of the power supply, failure of means of
        transport, failure of telecommunications networks or data lines, this shall
        not constitute a breach of these T&C.
      </p>
      <h2>11.LIABILITY</h2>
      <p>
        We shall be only liable – except in the case of personal injury, death or in
        the event of the applicability of the Product Liability Act – for damages
        caused intentionally or by gross negligence. Furthermore, our liability is
        limited to the total amount of the registration fee. The burden of proof
        that damages were caused by us intentionally or through gross negligence
        lies with the user.<br />
        We assume no liability for lost profits, expected but not realized savings,
        indirect and consequential damages as well as for damages to recorded
        data.<br />
        The user must assert all claims for damages not acknowledged by us in
        writing in court within one year of knowledge of the damage and the damaging
        party, otherwise the claim is time-barred.
      </p>
      <h2>12.INDEMNIFICATION</h2>
      <p>
        User shall fully indemnify and hold us harmless to full extent and free of
        any claims, damages, liabilities, costs, losses and expenses arising out of
        (i) User's willful or negligent breach of these T&C and (ii) User's
        negligent infringement of any third-party rights, including but not limited
        to intellectual property, privacy or data protection rights.
      </p>
      <h2>13.FINAL PROVISIONS</h2>
      <p>
        The T&C are subject to Austrian law, excluding the UN Convention on
        Contracts for the International Sale of Goods. The competent court for all
        disputes arising out of this Agreement shall be exclusively the competent
        court for the first district of Vienna, Austria.
      </p>
      <p>
        <b> Status: August 2022 </b>
      </p>
    </section>
  </article>

  <article class="imprint prose w-full max-w-none xl:w-1/3">
    <section class="headline">
      <h1>Leagal Notice:</h1>
    </section>
    <section class="content columns-sm gap-16">
      <p>
        <b>KPPK Ziviltechniker GmbH</b><br />
        Gumpendorfer Straße 132/1/9<br />
        1060 Wien<br />
        t.: +43 1 535 21 23, f: -30<br />
        mail: office(at)kppk.at<br />
      </p>
      <p>
        Sitz Wien, FB-Nr. FN263937v<br />
        Handelsgericht Wien<br />
        UID: ATU61923912<br />
      </p>
      <p>
        IBAN: AT761500000771390176<br />
        BIC: OBKLAT2L<br />
      </p>

      <p>
        Licence: Licensed pursuant to § 22 Civil Engineers Act for civil engineering
        in the specialized field of construction civil engineering<br />
        Object of business: Construction civil engineering<br />
        Authorized representatives of governing bodies: Dipl.-Ing. Dr. Klaus
        Petraschka, Dipl.-Ing. Ralf Staadt<br />
      </p>

      <h2>Membership in Chamber/Professional Association:</h2>
      <p>
        Federal Chamber of Architects and Chartered Engineering Consultants of
        Vienna, Lower Austria and Burgenland<br />
        Karlsgasse 9, 1040 Vienna<br />
      </p>
      <h3>Notice on regulations applicable to the profession</h3>
      <p>
        Additional information pursuant to the Austrian Media Act:<br />
        Media owner and publisher:<br />
        KPPK Ziviltechniker GmbH<br />
      </p>

      <h3>Important legal notice:</h3>
      <p>
        We have compiled the contents of this website with the great care. No
        liability is assumed for the correctness, completeness<br />
        or up-to-date status of the contents.<br />
      </p>

      <h3>Changes:</h3>
      <p>
        KPPK reserves the right to amend or supplement the information made
        available without prior announcement.
      </p>
      <h3>Links:</h3>
      <p>
        Our website contains links to the external websites of third parties that
        contain contents over which we have no influence. For this reason, we do not
        assume any liability for such third party contents. The parties offering or
        operating the websites to which we have links are responsible for the
        content of their sites; kppk does not assume any responsibility or liability
        whatsoever for such contents.
      </p>
      <h3>Copyright Information:</h3>
      <p>
        All texts, graphic designs and images are protected by copyright law. Their
        use is permitted only with the explicit consent of KPPK Ziviltechniker GmbH.
      </p>
      <h3>E-Mails:</h3>
      <p>
        In accordance with the E-Commerce Act, we hereby point out that e-mails sent
        to us will be retrieved only during our usual business hours.
      </p>
      <p>
        <b> Status: August 2022 </b>
      </p>
    </section>
  </article>
</section>
