.result_content {
    .absorbing {
        .table-legend {
            left: 165px !important;
        }
    }
    // background-color: red;
    table {
        // background-color: greenyellow;
        .id {
            // width: 50px;
            text-align: center;
            // background-color: yellow;
        }

        .name, .co2_transport, .gwp, .gwp_oeko  {
            // background-color: yellow;
            width: 25%;
        }

        .unit {
            // background-color: yellow;
            display: inline-block;
            width: 75px;
            text-align: left;
        }
    }

    .absorbing {
        grid-area: abs;
    }
    .emitting {
        grid-area: emi;
    }
    kppk-react-results-pie-chart-co2-phases {
        grid-area: ph;
    }
    
    kppk-react-results-pie-chart-absorbing-emitting {
        grid-area: pca;
    }
    kppk-react-results-material-sums {
        grid-area: sum;
    }
    
    kppk-react-results-construction-site {
        grid-area: cc;
    }
    
    kppk-react-results-container-village {
        grid-area: cv;
    }
    kppk-react-results-demolish-disposal {
        grid-area: dd;
    }
    kppk-react-results-excavation-pit {
        grid-area: ep;
    }
    kppk-react-results-heating-system {
        grid-area: hs;
    }
    kppk-react-results-pie-chart-transport-creation-operation {
        grid-area: op;
    }
}