@let s = $shared; @let t = kppk_react_login_translationsS();
<fg-layout-default>
  <kppk-admin-toolbar [show]="s.admin_show_toolbarS()" header />
  <main
    content
    class="flex h-full w-full flex-col items-center justify-center"
  >
    <mat-card class="min-w-xs flex w-full max-w-lg flex-col items-center justify-center pb-8 pt-10">
      <form [formGroup]="form_login">
          
        <img
          class="min-w-xs w-full max-w-md"
          alt="{{ t?.alt_react_logo }}"
          src="./images/react/react-logo.png"
        />

        <div class="mb-6 mt-4">

          <div class="relative pb-[2px] pt-10">
            @if( s.auth_authorization_errorS() ) {
              <div class="mat-warn-bg absolute top-0 w-full px-4 py-2">
                {{ t?.authorization_error }}
              </div>
            } 
            @if( s.auth_authoirzation_successS() ) {
              <div class="mat-primary-bg absolute top-0 w-full px-4 py-2">
                {{ t?.authorization_success }}
              </div>
            } 
            @if( s.auth_authorization_pendingS() ){
              <mat-progress-bar class="absolute bottom-0 w-full" mode="indeterminate" />
            }
          </div>
      
          <formly-form
            [model]="{ user: '', password: '' }"
            [form]="form_login"
            [fields]="fields_login"
          ></formly-form>
        </div>


        <div class="flex !flex-col-reverse gap-2 md:!flex-row">
          <fg-pwa-install
            [tooltip]="t?.tooltip_install"
            [label]="t?.label_install"
            [visible]="true"
            color="accent"
            class="w-full md:flex-1"
          />
          <button
            class="w-full md:flex-1"
            mat-stroked-button
            color="primary"
            type="submit"
            (click)="login($event)"
          >
            <mat-icon class="right-4">login</mat-icon>
            {{ t?.label_login }}
          </button>
        </div>
      </form>
    </mat-card>
    <div class="mt-4 sm:mt-8">{{ t?.label_version }} {{ s.versionS() }}</div>
    <a
      class="m-4 inline-block sm:m-8"
      href="https://www.kppk.at/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <img
        class="kppk-logo"
        width="100%"
        alt="{{ t?.alt_kppk_logo }}"
        src="./images/kppk/kppk-logo.svg"
      />
    </a>
  </main>
  <footer footer>
    <menu class="flex list-none flex-col justify-end gap-2 md:flex-row">
      <li class="w-full md:w-64">
        <a class="w-full !bg-gray-100 !text-base" 
          mat-flat-button
          routerLink="/{{ HOST_ROUTES.IMPRINT }}"
          routerLinkActive="active"
        >
          <mat-icon color="primary" svgIcon="info"></mat-icon>
          {{ t?.route_imprint }}
        </a>
      </li>
      <li class="w-full md:w-64">
        <a class="w-full !bg-gray-100 !text-base" 
          mat-flat-button
          routerLink="/{{ HOST_ROUTES.DATA_PROTECTION }}"
          routerLinkActive="active"
        >
          <mat-icon color="primary" svgIcon="shield"></mat-icon>
          {{ t?.route_data_protection }}
        </a>
      </li>
      <li class="w-full md:w-64">
        <fg-language-switch
          class="mdc-button mat-mdc-unelevated-button md:-full xs:mb-4 mb-0 w-full !bg-gray-100 outline-2 active:!bg-gray-200"
          [selected]="s.lang_activeS()"
          [available_langs]="s.langs_availableS()"
          [icon_path]="s.langs_icons_pathS()"
          (selection)="s.set_language($event)"
        />
      </li>
    </menu>
  </footer>
</fg-layout-default>
<div class="bg-image"></div>
