react-demo-kppk-react-home-start-calc-modal,
kppk-react-calc-view,
kppk-react-home-view {
  .mat-mdc-form-field {
      // background-color: red !important;
      font-size: 0.74rem;
    
      .mat-mdc-form-field-infix {
        // background-color: orange !important;
        padding-top: 0.8rem !important;
      }
      .mat-mdc-text-field-wrapper {
        height: 40px !important;
      }
  
      .mat-mdc-form-field-icon-suffix, [dir=rtl] .mat-mdc-form-field-icon-postfix,
      .mat-mdc-form-field-icon-prefix, [dir=rtl] .mat-mdc-form-field-icon-suffix {
        position: relative;
        top: -6px;
      }
  
      .mat-mdc-select-trigger,
      ngx-mat-file-input,
      input {
        // background-color: greenyellow !important;
        font-size: 0.8rem !important;
      }
    
      label.mat-mdc-form-field-label {
        // background-color: yellow !important;
        font-size: 0.8rem !important;
        top: 1.25em;
      }
      .mdc-text-field--filled .mdc-floating-label--float-above {
        transform: translateY(-1.80em) scale(0.75);
      }
      // &.mat-mdc-form-field-can-float.mat-mdc-form-field-should-float .mat-mdc-form-field-label,
      // &.mat-mdc-form-field-can-float
      //   .mat-mdc-input-server:focus
      //   + .mat-mdc-form-field-label-wrapper
      //   .mat-mdc-form-field-label {
      //   transform: translateY(-1.45em) scale(0.75);
      //   width: 133.33333%;
      // }
    }
}