<div class="flex-auto">
  <p>
    Wir, KPPK Ziviltechniker GmbH, Gumpendorferstraße 139/1/9, 1060 Wien,
    office&#64;kppk.at, ("<b>KPPK</b>", "<b>wir</b>", "<b>uns</b>"), freuen uns,
    dass Sie unsere Softwarelösung zur Berechnung der Amortisierung von
    Investitionen in alternative Energieträger R.E.A.C.T® "Reckoning of
    Sustainable Energysystems" ("<b>Software</b>") nutzen wollen. Durch die
    Registrierung und Nutzung der Software akzeptieren Sie die nachstehenden
    Allgemeinen Nutzungsbedingungen ("<b>ANB</b>").
  </p>
  <h2>1. ANWENDUNGSBEREICH</h2>
  <p>
    Die Nutzung der von KPPK zu Verfügung gestellten Software ist ausschließlich
    auf Basis der vorliegenden ANB zulässig. Die beta-Version der Software wurde
    unentgeltlich zur Verfügung gestellt und laufend weiterentwickelt. Um die
    bisher angefallenen Entwicklungskosten abzudecken, erhebt KPPK für die
    weitere Nutzung eine einmalige Registrierungsgebühr.
  </p>
  <p>
    Die vorliegenden Nutzungsbedingungen können von uns jederzeit ergänzt,
    geändert oder ersetzt werden, um einer etwaigen Weiterentwicklung der
    Software Rechnung zu tragen. Diesfalls weisen wir Sie mindestens 14 Tage im
    Voraus schriftlich per E-Mail auf Änderungen hin und stellen Ihnen die neue
    Version der ANB zur Verfügung. Wenn Sie der Änderung nicht innerhalb einer
    Frist von 14 Tagen widersprechen, gehen wir davon aus, dass Sie den
    aktualisierten ANB zustimmen. Wenn Sie den Änderungen widersprechen, gilt
    für Sie die ursprünglich vereinbarte Version der ANB weiterhin. Allerdings
    haben wir diesfalls gemäß Pkt 6 ein Kündigungsrecht.
  </p>
  <h2>2. VORAUSSETZUNGEN FÜR DIE NUTZUNG</h2>
  <p>
    Das Angebot richtet sich an alle natürliche und juristische Personen. Unsere
    Software basiert auf der Progressive Web App (PWA) Architektur, die sich
    moderne Browser-Features zu Nutze macht und eine offline-Nutzung zulässt.
    Eine Installation auf dem jeweiligen Endgerät findet dabei nicht statt.
    Durch die verschlüsselte PWA-Architektur werden alle Berechnungen in Ihrem
    Browser durchgeführt.
  </p>
  <h2>3. REGISTRIERUNG UND NUTZERKONTO</h2>
  <p>
    Um die Software zu nutzen, ist eine Registrierung auf der Webseite
    <a href="https://www.rose-kppk.at">www.rose-kppk.at</a>
    erforderlich. Für die Registrierung fällt die einmalige Registrierungsgebühr
    gem Pkt 4 an. Nach der Registrierung erhält der Nutzer eine E-Mail mit
    Zahlungsanweisungen und einem Benutzernahmen. Sobald die
    Registrierungsgebühr auf unsrem Konto eingelangt ist, wird das Nutzerkonto
    mit dem zugewiesenen Benutzernamen aktiviert. In einer weiteren E-Mail
    erhalten Sie das Zugangspasswort. Wir behalten uns allerdings das Recht vor,
    die Registrierung eines Nutzers vor der Zahlung der Registrierungsgebühr
    ohne Angabe von Gründen abzulehnen.
  </p>
  <p>
    Der Nutzer verpflichtet sich, genaue und vollständige Angaben zu machen und
    die Kontoinformationen auf dem neuesten Stand zu halten. Mit der
    Registrierung bestätigt der Nutzer die Richtigkeit der von ihm gemachten
    Angaben. Weiters verpflichtet sich der Nutzer seine Zugangsdaten
    (Benutzername und Passwort) geheim zu halten und nicht an Dritte
    weiterzugeben. Ermöglicht der Nutzer einem Dritten eine Nutzung der Software
    entgegen dieser ANB, sind wir berechtigt, das Nutzerkonto zu sperren und den
    Nutzer von der Nutzung der Software gem Pkt 6 auszuschließen sowie eine
    Pönale in der Höhe der Registrierungsgebühr gemäß Pkt 4 einzuheben.
  </p>
  <h2>4. REGISTRIERUNGSGEBÜHR</h2>
  <p>
    Die Registrierungsgebühr wird auf unserer Website festgelegt. Die Gebühr
    versteht sich in Euro und inklusive USt aber exklusive etwaiger weiterer
    Steuern, Gebühren und öffentlichen Abgaben. Die Zahlungsfrist beträgt 14
    Tage ab Erhalt der Rechnung.
  </p>
  <h2>5. FUNKTIONSUMFANG</h2>
  <p>Unsere Software umfasst folgende Funktionen:</p>
  <ul>
    <li>
      Gegenüberstellung von Investitionen in alternative (zB Solarenergie, Luft-
      oder Geothermie) und thermische Energieträger (zB Erdgas); Vergleich von
      Amortisationszeiten über mehrere Jahrzehnte anhand der Barwertmethode;
    </li>
    <li>
      Überblick über aktuelle staatliche Förderungen und die voraussichtliche
      Energiepreis- und Zinsentwicklungen;
    </li>
    <li>
      Prozentuelle Darstellung und künftige Einpreisung einer etwaigen
      CO2-Ersparnis.
    </li>
  </ul>
  <p>
    Der Vergleich ist von den Angaben zum jeweiligen Projekt wie Energieausweis,
    Heizlast oder Gebäudedaten (Bruttogeschoßfläche, Gebäudeklasse, Gebäude-Art
    etc) und Angaben zu bestehenden Energiesystemen (Basiskosten, jährliche
    Änderungen, CO2-Äquivalent) abhängig. Auf Basis dieser Eingaben errechnet
    die Software mit Hilfe vordefinierter Parameter unverbindlich mögliche
    Einsparungspotenziale beim Umstieg auf alternative Energieträger. Die
    errechneten Parameter stützten sich dabei ausschließlich auf unsere interne
    Kostenstruktur für entsprechende Neubau- oder Sanierungsprojekte.
    <b
      >Bei allen Ergebnissen handelt es sich jeweils nur um Näherungswerte, die
      nach Angaben der Hersteller unter Idealbedingungen erzielt werden können,
      wenn Sie Ihr Projekt mit uns umsetzen.</b
    >
    Tatsächliche Einsparungen können insbesondere aufgrund der Ausschöpfungen
    von staatlichen Fördergeldern oder anderen Beschränkungen geringer ausfallen
    als in der Berechnung dargestellt.
    <b
      >Das Vergleichsergebnis der Software dient daher ausschließlich zu
      Informationszwecken und stellt keine verbindliche Zusage einer
      tatsächlichen Kostenersparnis oder einen konkreten Kostenvoranschlag
      dar.</b
    >
    Das Ausmaß konkreter Einsparungspotenziale lässt sich immer erst im Rahmen
    eines tatsächlichen Projektangebots durch uns ermitteln. Sofern es uns
    wirtschaftlich und technisch zumutbar ist, werden wir uns bemühen, die
    Funktionen der Software laufend aufrechterhalten. Wir sind berechtigt, die
    Software für Wartungszwecke zeitweise unzugänglich zu machen. Zudem können,
    aber müssen wir nicht, die Software weiterentwickeln und Updates und
    Upgrades durchführen. Der Nutzer hat keinen Anspruch auf die unentgeltliche
    Zurverfügungstellung von Updates und Upgrades. Wir behalten uns das Recht
    vor, für die Zurverfügungstellung von Updates und Upgrades eine zusätzliche
    Gebühr zu erheben.
  </p>
  <h2>6. NUTZUNGSDAUER UND KÜNDIGUNG</h2>
  <p>
    Nach der Entrichtung der Registrierungsgebühr wird die Software dem Nutzer
    für eine unbestimmte Zeit zur Verfügung gestellt. Wir sind jedoch nicht
    verpflichtet, eine Mindestdauer der Nutzung zu garantieren und sind
    berechtigt, Ihre Nutzungsberechtigung mit einer Frist von einem Monat zu
    kündigen. Wir sind dazu jederzeit berechtigt, Ihre Nutzung der Software aus
    wichtigem Grund nach eigenem Ermessen einzuschränken oder Sie von dieser
    auszuschließen. Ein wichtiger Grund liegt insbesondere im Falle einer
    Verletzung dieser ANB oder geltenden Rechts vor. Weiters sind wir
    berechtigt, die Zurverfügungstellung der Software einzustellen, sofern diese
    für uns technisch und wirtschaftlich nicht mehr zumutbar ist oder die
    Software durch Updates und Upgrades weiterentwickelt wurde. Diesfalls sind
    wir berechtigt, die veraltete Version einzustellen. Im letzten Fall kann der
    User bei einem entsprechenden, in unserer Diskretion liegenden Angebot durch
    Zahlung einer Gebühr sich eine weitere Nutzungsmöglichkeit sichern. Ebenso
    können wir Ihre Nutzungsberechtigung bei Widerspruch gegen geänderte
    Nutzungsbedingungen aus wichtigem Grund beenden. Auch Sie können Ihren
    Account jederzeit löschen bzw eine Löschung von uns binnen 14 Tagen
    verlangen. Danach ist es Ihnen nicht mehr möglich, die Software zu nutzen.
    In jedem Fall der Beendigung – unabhängig ob durch uns oder Sie – hat der
    Nutzer keinen Anspruch auf ganz oder teilweise Rückerstattung der
    Registrierungsgebühr.
  </p>
  <h2>7. VERHALTEN UND PFLICHTEN DES NUTZERS</h2>
  <p>
    Nutzer verpflichten sich, die ANB zu befolgen und im Rahmen der
    Registrierung richtige und gültige Daten anzugeben. Die Nutzer sind selbst
    für die etwaige erforderliche Soft-, Hardware und Internetverbindung
    verantwortlich. Die Ergebnisse dienen lediglich zur eigenen Verwendung. Eine
    missbräuchliche Nutzung der Software ist nicht zulässig. Insbesondere ist es
    dem Nutzer untersagt,
  </p>
  <ul>
    <li>
      unwahre Aussagen und Behauptungen zu machen oder Informationen wider
      besseren Wissens zur Verfügung zu stellen;
    </li>
    <li>
      illegale Aktivitäten oder eine rechtswidrige Handlung zu fördern oder zu
      unterstützen;
    </li>
    <li>
      Rechte anderer zu verletzen oder Inhalte einzugeben, die zu zivil- oder
      strafrechtlichen Folgen nach dem geltenden Recht führen oder anderweitig
      im Widerspruch zu diesen ANB stehen;
    </li>
    <li>
      Daten einzugeben, die dazu geeignet sind, Schäden an der Software, unseren
      Servern oder anderen technischen Einrichtungen von KPPK zu verursachen;
    </li>
    <li>
      die Software oder einzelne Inhalte zu dekompilieren, zu disassemblieren,
      durch Reverse Engineering zurückzuentwickeln, zu kopieren, zu übertragen
      oder anderweitig zu verwerten, es sei denn, dies ist nach dem
      Urheberrechtsgesetz zulässig;
    </li>
    <li>
      Inhalte automatisiert zu crawlen, zu scrapen, zu cachen oder anderweitig
      auszuwerten;
    </li>
    <li>
      Unterlagen oder Inhalte anzugeben, um Ihre Identität oder Zugehörigkeit zu
      einer natürlichen oder juristischen Person zu verfälschen oder anderweitig
      falsch darzustellen;
    </li>
    <li>
      die Software auf eine Art und Weise zu nutzen, die (i) die Kontinuität
      unterbrechen, aussetzen, verlangsamen oder behindern kann, (ii) ein
      Eingreifen oder den Versuch eines Eingreifens in die Software oder unsere
      IT Infrastruktur darstellt, (iii) die Systemressourcen der Software
      umleitet, (iv) die Infrastruktur der Software unverhältnismäßig stark
      belastet oder (v) einen Angriff auf die Sicherheits- und
      Authentifizierungsmaßnahmen der Software oder unserer IT-Infrastruktur
      darstellt;
    </li>
    <li>
      einen Teil der Software, einschließlich, aber nicht beschränkt auf
      einzelne Inhalte, in einem Medium, ohne vorherige schriftliche Genehmigung
      durch uns oder den jeweiligen Eigentümer zu verbreiten;
    </li>
    <li>
      die Software anderweitig für andere Zwecke als die, für die sie konzipiert
      ist, zu verwenden.
    </li>
  </ul>

  <h2>8. URHEBERRECHTS UND GEWERBLICHER RECHTSCHUTZ</h2>
  <p>
    Mit Ausnahme der von den Nutzern bereitgestellten Informationen sind alle
    Elemente der Software, insbesondere Design, Struktur, Entwicklungslogik und
    Inhalt der verbundenen Datenbank durch das Urheberrecht und gewerbliche
    Schutzrechte geschützt. Ohne unsere ausdrückliche Zustimmung erwirbt der
    Nutzer kein Recht die Software oder einzelne Elemente zu vervielfältigen, zu
    verbreiten, zu vermieten oder verleihen, zur Verfügung zu stellen, zu
    senden, vorzutragen, aufzuführen oder vorzuführen, zu bearbeiten, zu
    übersetzen oder in sonstiger Weise zu verwerten.
  </p>
  <h2>9. GEWÄHRLEISTUNG</h2>
  <p>
    Wir stellen die Software mit der gebotenen Sorgfalt zur Verfügung. Alle
    Berechnungsmethoden basieren auf dem Stand der Technik. Die
    Berechnungsmethoden und vergleichsweise herangezogenen Energiepreise werden
    regelmäßig – mindestens einmal jährlich – aktualisiert, um die Software
    aktuell zu halten. Es ist jedoch nicht möglich, Fehler, etwaige Verstöße
    Dritter oder Störungen in der Software vollständig zu vermeiden. Wir
    übernehmen keine Gewährleistung – auch unter Berücksichtigung der Risiken
    des Internets – für die Richtigkeit, Zuverlässigkeit, Qualität, Eignung,
    Vollständigkeit und Aktualität und Verfügbarkeit unserer Software bzw der
    erzielten Ergebnisse. Dementsprechend können Inhalte der Software nicht
    aktuell, unvollständig oder ungenau sein. Wir werden uns bemühen,
    festgestellte oder gemeldete Fehler zu beseitigen.<br />
    Die jeweiligen Vergleichsergebnisse hängen von den Angaben des Nutzers ab
    und stellen lediglich Schätzungen unter Idealbedingungen dar. Die
    tatsächlichen Ersparnisse können aufgrund des großen Umfangs an äußeren
    Einflussfaktoren von jenen abweichen, die durch die Software berechnet
    wurden. Wir übernehmen keine Haftung für die Richtigkeit, Zuverlässigkeit,
    Verfügbarkeit und Genauigkeit der Inhalte. Insbesondere haften wir nicht für
    die Richtigkeit und Vollständigkeit der angezeigten Informationen und
    Einsparungspotenziale.<br />
    Der Nutzer hat die Software gemäß § 377 ff UGB auf Mängel zu untersuchen.
    Festgestellte Mängel sind uns unverzüglich, längstens aber binnen fünf
    Kalendertagen nach Zurverfügungstellung der Software unter Bekanntgabe von
    Art und Umfang des Mangels schriftlich bekannt zu geben. Versteckte Mängel
    sind unverzüglich, längstens aber binnen fünf Kalendertagen nach ihrer
    Entdeckung schriftlich zu rügen. Die Beweislast für das Vorliegen von
    Mängeln trägt der Nutzer. Die Vermutung der Mangelhaftigkeit nach § 924 ABGB
    ist ausgeschlossen.<br />
    Wir werden nach freier Wahl durch Fehlerbeseitigung, durch Installation
    eines WorkArounds, Überlassung eines neuen Programmstandes oder durch
    Aufzeigen von Möglichkeiten, die Auswirkungen des Fehlers zu vermeiden,
    Nachbesserung leisten. Preisminderung und Wandlung sind ausgeschlossen.
    Gewährleistungsansprüche können längstens binnen 6 Monaten ab
    Zurverfügungstellung der Software gerichtlich geltend gemacht werden.
  </p>
  <h2>10.HÖHERE GEWALT</h2>
  <p>
    Soweit und solange Verpflichtungen infolge höherer Gewalt, wie zB Krieg,
    Terrorismus, Naturkatastrophen, Feuer, Streik, Aussperrung, Embargo,
    hoheitliche Eingriffe, Epidemien wie dem Corona-Virus, Ausfall der
    Stromversorgung, Ausfall von Transportmitteln, Ausfall von
    Telekommunikationsnetzen bzw Datenleitungen nicht fristgerecht oder nicht
    ordnungsgemäß erfüllt werden können, stellt dies keine Verletzung dieser ANB
    dar.
  </p>
  <h2>11.HAFTUNG</h2>
  <p>
    Wir leisten – außer im Fall von Personenschäden, Tod oder im Falle der
    Anwendbarkeit des Produkthaftungsgesetzes – nur für vorsätzlich oder grob
    fahrlässig verschuldete Schäden Schadenersatz. Unsere Haftung ist überdies
    der Höhe nach insgesamt mit der Registrierungsgebühr begrenzt. Der Beweis
    dafür, dass Schäden von uns vorsätzlich oder grob fahrlässig verursacht
    worden sind, obliegt dem Nutzer.<br />
    Wir übernehmen keine Haftung für entgangenen Gewinn, erwartete aber nicht
    eingetretene Ersparnisse, mittelbare Schäden und Folgeschäden, sowie für
    Schäden an aufgezeichneten Daten.<br />
    Der Nutzer hat sämtliche von uns nicht schriftlich anerkannte
    Schadenersatzansprüche bei sonstiger Verjährung innerhalb von einem Jahr ab
    Kenntnis von Schaden und Schädiger gerichtlich geltend zu machen.
  </p>
  <h2>12.SCHAD- UND KLAGLOSHALTUNG</h2>
  <p>
    Der Nutzer hält uns in vollem Umfang schad- und klaglos und frei von allen
    Ansprüchen, Schäden, Verbindlichkeiten, Kosten, Verlusten und Ausgaben, die
    sich aus (i) der vorsätzlichen oder fahrlässigen Verletzung dieser
    Nutzungsbedingungen durch den Nutzer und (ii) der fahrlässigen Verletzung
    von Rechten Dritter durch den Nutzer ergeben, einschließlich, aber nicht
    beschränkt auf gewerblichen Rechtsschutz, Persönlichkeits- oder
    Datenschutzrechte.
  </p>
  <h2>13.SCHLUSSBESTIMMUNGEN</h2>
  <p>
    Die Bedingungen unterliegen österreichischem Recht unter Ausschluss des
    UN-Kaufrechts. Zur Entscheidung aller im Zusammen mit Vertragsverhältnissen
    entstehenden Streitigkeiten ist das sachliche Gericht in Wien 1010
    ausschließlich zuständig.
  </p>
  <p>
    <b>Stand: August 2022 </b>
  </p>
</div>

<div fxFlex="1 1">
  <h1>Impressum:</h1>
  <br />
  <p>
    <b>KPPK Ziviltechniker GmbH</b><br />
    Gumpendorfer Straße 132/1/9<br />
    1060 Wien<br />
    t.: +43 1 535 21 23, f: -30<br />
    mail: office(at)kppk.at<br />
  </p>
  <p>
    Sitz Wien, FB-Nr. FN263937v<br />
    Handelsgericht Wien<br />
    UID: ATU61923912<br />
  </p>
  <p>
    IBAN: AT761500000771390176<br />
    BIC: OBKLAT2L<br />
  </p>
  <p>
    Konzession: Gemäß § 22 Ziviltechnikergesetz: Ziviltechnikerbefugnis für das
    Fachgebiet Bauingenieurwesen<br />
    Unternehmensgegenstand: Ziviltechniker Bauingenieurwesen<br />
    Vertretungsbefugte Organe: DI Dr. Klaus Petraschka, DI Ralf Staadt<br />
  </p>
  <h2>Kammer/Berufsverband:</h2>
  <p>
    Bundeskammer der Architekten und Ingenieurkonsulenten für Wien,
    Niederösterreich und Burgenland<br />
    Karlsgasse 9, 1040 Wien<br />
  </p>

  <h3>Hinweis auf die anwendbaren berufsrechtlichen Vorschriften</h3>
  <p>
    Zusätzliche Angaben nach dem österreichischen Mediengesetz:<br />
    Medieninhaber und Herausgeber:<br />
    KPPK Ziviltechniker GmbH<br />
  </p>

  <!-- Webauftritt: Isabella Burket www.juicy-design.at<br/>
      Programmierung: Stefan Gerorgieff www.sg6.eu<br/> -->

  <h3>Wichtiger rechtlicher Hinweis:</h3>
  <p>
    Die Inhalte unserer Seite wurden mit größter Sorgfalt erstellt. Für die
    Richtigkeit, Vollständigkeit und<br />
    Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.<br />
  </p>
  <h3>Änderungen:</h3>
  <p>
    KPPK Ziviltechniker GmbH behält sich das Recht vor, Änderungen oder
    Ergänzungen der bereitgestellten Informationen ohne vorherige Ankündigung
    vorzunehmen.
  </p>

  <h3>Links:</h3>
  <p>
    Unser Angebot enthält Links zu externen Webseiten Dritter auf deren Inhalte
    wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch
    keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der
    jeweilige Anbieter oder Betreiber der Seiten verantwortlich. KPPK
    Ziviltechniker GmbH übernimmt darüber hinaus keine Verantwortung für solche
    Inhalte und haftet für derartige Inhalte auch nicht.
  </p>

  <h3>Urheberrecht:</h3>
  <p>
    Sämtliche Texte, Grafiken und Bilder sind urheberrechtlich geschützt. Eine
    Verwendung ist nur mit ausdrücklicher Genehmigung von KPPK Ziviltechniker
    GmbH zulässig.
  </p>

  <h3>E-Mails:</h3>
  <p>
    Im Einklang mit dem E-Commerce Gesetz machen wir darauf aufmerksam, dass an
    uns gesendete E-Mails nur zu büroüblichen Geschäftsöffnungszeiten abgerufen
    werden.
  </p>

  <p>
    <b> Stand: August 2022 </b>
  </p>
</div>
