@let t = translationsS();

<kppk-react-view-auth-layout-content 
  [form]="form" 
  [error]="errorS()" 
  [success]=" successS()"
  [pending]=" pendingS()"
>
  <ng-container header>
    <div header class="prose-sm w-full text-center">
      <h1>{{ t?.headline_auth_password_change }}</h1>
      <p> {{ t?.headline_sub_auth_password_change }}</p>
    </div>
  </ng-container>

  <ng-container error>
    {{ t?.error_auth_password_change }}
  </ng-container>

  <ng-container success>
    {{ t?.success_auth_password_change }}
  </ng-container>

  <formly-form
    [model]="model"
    [form]="form"
    [fields]="fields"
  />

  <ng-container buttons>
    <fg-button-form-submit 
      class="w-full md:order-2 md:flex-1"
      [label]="t?.label_send" 
      (submit)="action($event)" 
      [form_group]="form" 
    />
    <fg-button-back-navigation 
      class="w-full md:order-1 md:flex-1"
      color="accent" 
      [label]="t?.label_back" 
    />
  </ng-container>

</kppk-react-view-auth-layout-content>
    