:host {
  display: block;
  min-height: 100%;
}

.table {
  width: 100%;
}

.table tr,
.table td {
  border: 1px black solid;
}

.table-legend {
  tr,
  td {
    border: none;
  }
}

.mat-step-label {
  width: 100%;
}

.error {
  border: 2px dotted red;
}

.mat-step-icon {
  background-color: white !important;
  border: 1px solid #8f8f8f !important;
  .mat-icon {
    color: #afc44e !important;
  }
}

.mat-stepper-calculation > div > .mat-step-header > .mat-step-icon {
  .mat-step-icon-content {
    transform: scale(2.5) translate(-15%, -20%) !important;
  }
}

.calculation_content.prose {
  h1, h2, h3, h4, h5, h6 {
    // background-color: red;
    margin-top: 0;
  }
  
  table {
    margin: 0;
    th {
      padding-bottom: 0;
      h2 {
        // background-color: greenyellow;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
      }
      h3, h4, h5, h6 {
        // background-color: greenyellow;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: left;
      }
    }
    td, th {
      // background-color: yellow;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

// .mat-vertical-content {
//   padding: 0 0 24px 0 !important;

// }

// .cdk-virtual-scroll-viewport {
//   .unit-kg .field {
//     width: 120px;
//     background-color: red !important;
//   }
// }

// .energy-year-usage {
//   .unit-kWh {
//     .field {
//       // background-color: blue;
//       width: 120px !important;
//       [type="number"] {
//         // background-color: yellow;
//         padding-right: 20px;
//         text-align: right;
//       }
//     }
//   }
// }
