@use '@angular/material' as mat;

@include mat.core();

$my-typography: mat.m2-define-typography-config();
@include mat.typography-hierarchy($my-typography);

$mat-light-primary: mat.m2-define-palette(mat.$m2-lime-palette, 500);
$mat-light-accent: mat.m2-define-palette(mat.$m2-deep-orange-palette, A200, 500, 800);

// The "warn" palette is optional and defaults to red if not specified.
$mat-light-warn: mat.m2-define-palette(mat.$m2-red-palette, 500);

$mat-light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $mat-light-primary,
      accent: $mat-light-accent,
      warn: $mat-light-warn,
    ),
    typography: $my-typography,
    density: -1,
  )
);


$mat-light-primary-darker: mat.m2-define-palette(mat.$m2-lime-palette, 800);
$mat-light-theme-darker: mat.m2-define-light-theme(
  (
    color: (
      primary: $mat-light-primary-darker,
      accent: $mat-light-accent,
      warn: $mat-light-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

.mat-primary-bg {
  background-color: mat.m2-get-color-from-palette($mat-light-primary, default);
}
.mat-accent-bg {
  background-color: mat.m2-get-color-from-palette($mat-light-accent, default);
}
.mat-warn-bg {
  background-color: mat.m2-get-color-from-palette($mat-light-warn, default);
  color: white
}

@include mat.all-component-themes($mat-light-theme);

// @include mat.input-theme($mat-light-theme-darker);
// @include mat.form-field-theme($mat-light-theme-darker);
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #FAFAFA  !important;
}
.mdc-floating-label--float-above {
    color: var(--mdc-filled-text-field-label-text-color) !important;
}

// @include mat.button-theme($mat-light-theme-darker);
.mat-mdc-unelevated-button.mdc-button,
.mat-mdc-outlined-button.mdc-button {
  position: relative;
  .mat-icon {
    position: absolute;
    left: 23px;
  }
}
.mat-mdc-outlined-button:not(:disabled).mdc-button {
  border-radius: 0;
  border-color: var(--mdc-outlined-button-label-text-color);
}

// @include mat.tooltip-theme($mat-light-theme);
// @include mat.select-theme($mat-light-theme);
/* You can add global styles to this file, and also import other style files */


