@let t = translationsS();

<kppk-react-view-auth-layout-content 
  [form]="form"
  [error]="errorS()" 
  [success]=" successS()"
  [pending]=" pendingS()"
>

  <div header class="prose-sm w-full text-center">
    <h1>{{ t?.headline_auth_password_forgot }}</h1>
    <p> {{ t?.headline_sub_auth_password_forgot }}</p>
  </div>

  <ng-container error>
    {{ t?.error_auth_password_forgot }}
  </ng-container>

  <ng-container success>
    {{ t?.success_auth_password_forgot }}
  </ng-container>

  <formly-form
    [model]="model"
    [form]="form"
    [fields]="fields"
  />

  <ng-container buttons>
    <fg-button-form-submit
      class="w-full md:order-2 md:flex-1"
      color="primary" 
      [form_group]="form" 
      [label]="t?.label_send" 
      (submit)="action($event)"
    />
    <fg-button-back-navigation 
      class="w-full md:order-1 md:flex-1"
      color="accent"
      [label]="t?.label_back" 
    />
  </ng-container>

</kppk-react-view-auth-layout-content>