@let t = translationsS();

<kppk-react-view-auth-layout-content 
  [form]="form"
  [error]="errorS()" 
  [success]=" successS()"
  [pending]=" pendingS()"
>

  <div header class="prose-sm w-full text-center">
    <h1>{{ t?.headline_auth_password_forgot }}</h1>
    <p> {{ t?.headline_sub_auth_password_forgot }}</p>
  </div>

  <ng-container error>
    {{ t?.error_auth_password_forgot }}
  </ng-container>

  <ng-container success>
    {{ t?.success_auth_password_forgot }}
  </ng-container>

  <formly-form
    [model]="model"
    [form]="form"
    [fields]="fields"
  />

  <ng-container buttons>
    <a
      class="order-2 w-full md:order-1 md:flex-1"
      mat-stroked-button
      color="warn"
      href="/{{[HOST_ROUTES.AUTH, HOST_ROUTES.AUTH_LOGIN].join('/')}}"
    >
      {{ t?.label_back }}
    </a>
    <button
      class="order-1 w-full md:order-2 md:flex-1"
      mat-stroked-button
      color="primary"
      type="submit"
      (click)="action($event)"
    >
      <mat-icon class="right-4">login</mat-icon>
      {{ t?.label_send }}
    </button>
  </ng-container>

</kppk-react-view-auth-layout-content>