@let s = $shared; 
@let t = translationsS();

<kppk-react-view-auth-layout-content 
  [form]="form" 
  [error]="s.auth_authorization_errorS()" 
  [success]=" s.auth_authoirzation_successS()"
  [pending]=" s.auth_authorization_pendingS()"
>
  <ng-container header>
    <div class="relative">
      <img
        class="min-w-xs w-full max-w-md"
        alt="{{ t?.alt_react_logo }}"
        src="./images/react/react-logo.png"
      />
      <h1 class="invisible absolute top-0">{{ t?.headline_login }}</h1>
    </div>
  </ng-container>

  <ng-container error>
    {{ t?.authorization_error }}
  </ng-container>

  <ng-container success>
    {{ t?.authorization_success }}
  </ng-container>

  <formly-form
    [model]="model"
    [form]="form"
    [fields]="fields"
  />

  <ng-container buttons>
    <a
      class="w-full md:flex-1"
      mat-stroked-button
      color="warn"
      href=""
    >
      <mat-icon class="right-4">login</mat-icon>
      {{ t?.label_back }}
    </a>
    <button
      class="w-full md:flex-1"
      mat-stroked-button
      color="primary"
      type="submit"
      (click)="action($event)"
    >
      <mat-icon class="right-4">login</mat-icon>
      {{ t?.label_send }}
    </button>
  </ng-container>

</kppk-react-view-auth-layout-content>