@let t = translationS();
<mat-stepper class="mat-stepper-calculation-material" orientation="vertical" [selectedIndex]="2">
  <mat-step [editable]="true" [completed]="true">
    <ng-template matStepLabel>
      <div class="flex w-full flex-col items-start justify-start">
        <h3 class="!mb-0">{{ t?.step_edit_imports_headline }}</h3>
        <span class="text-xs">{{ t?.step_edit_imports_helptext }}</span>
      </div>
    </ng-template>
    <ng-template matStepperIcon="number" let-index="index">
      @if(index === 0) {
      <mat-icon>edit_document</mat-icon>
      } @if(index === 1) {
      <mat-icon>merge_type</mat-icon>
      } @if(index === 2) {
      <mat-icon>calculate</mat-icon>
      }
    </ng-template>
    <ng-template matStepperIcon="edit" let-index="index">
      @if(index === 0) {
      <mat-icon>edit_document</mat-icon>
      } @if(index === 1) {
      <mat-icon>merge_type</mat-icon>
      } @if(index === 2) {
      <mat-icon>calculate</mat-icon>
      }
    </ng-template>
    <ng-template matStepperIcon="done" let-index="index">
      @if(index === 0) {
      <mat-icon>edit_document</mat-icon>
      } @if(index === 1) {
      <mat-icon>merge_type</mat-icon>
      } @if(index === 2) {
      <mat-icon>calculate</mat-icon>
      }
    </ng-template>
    <ng-container
      *ngTemplateOutlet="accordion_imports_template"
    ></ng-container>
  </mat-step>
  <mat-step [editable]="true" [completed]="true">
    <ng-template matStepLabel>
      <div class="flex w-full flex-col items-start justify-start">
        <h3 class="!mb-0">
          {{ t?.step_edit_types_headline }}
        </h3>
        <span class="text-xs">{{ t?.step_edit_types_helptext }}</span>
      </div>
    </ng-template>
    <kppk-warn-box-reset />
    <ng-container *ngTemplateOutlet="accordion_types_template"></ng-container>
  </mat-step>
  <mat-step [editable]="true" [completed]="true">
    <ng-template matStepLabel>
      <div class="flex w-full flex-col items-start justify-start">
        <h3 class="!mb-0">{{ t?.step_edit_calculation_headline }}</h3>
        <span class="text-xs">{{ t?.step_edit_calculation_helptext }}</span>
      </div>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="accordion_calculation_template"
    ></ng-container>
  </mat-step>
</mat-stepper>

<ng-template #accordion_imports_template>
  <!-- <p>{{ t?.step_edit_imports_helptext }}</p> -->
  <mat-accordion class="m-2">
    <mat-expansion-panel #panel_aufbauten>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ t?.transformed_aufbauten }}</mat-panel-title>
      </mat-expansion-panel-header>
      @if( panel_aufbauten.expanded && transformed_aufbauten_s() ) {
      <cdk-virtual-scroll-viewport
        class="virtual-scroll-container"
        itemSize="40"
        minBufferPx="50"
        maxBufferPx="100"
      >
        <kppk-react-materials-aufbauten-row
          class="virtual-scroll-item"
          *cdkVirtualFor="
            let item of transformed_aufbauten_s();
            let index = index;
            trackBy: track_by_id
          "
          [row]="item"
          [index]="index"
          [options]="options_s()"
          (change)="emit_model_change($event)"
        />
      </cdk-virtual-scroll-viewport>
      <kppk-react-footer-row [row]="transformed_aufbauten_s()" />
      } @else {
      <div
        class="virtual-scroll-container flex flex-row items-center justify-center"
      >
        <kppk-react-loading-indicator />
      </div>
      }
    </mat-expansion-panel>

    <mat-expansion-panel #panel_bauteilflaechen>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ t?.transformed_bauteilflaechen }}</mat-panel-title>
      </mat-expansion-panel-header>
      @if( panel_bauteilflaechen.expanded && transformed_bauteilflaechen_s() )
      {
      <cdk-virtual-scroll-viewport
        class="virtual-scroll-container"
        itemSize="40"
        minBufferPx="50"
        maxBufferPx="100"
      >
        <kppk-react-materials-bauteilflaechen-row
          class="virtual-scroll-item"
          *cdkVirtualFor="
            let item of transformed_bauteilflaechen_s();
            let index = index;
            trackBy: track_by_id
          "
          [row]="item"
          [index]="index"
          [options]="options_s()"
          (change)="emit_model_change($event)"
        />
      </cdk-virtual-scroll-viewport>
      <kppk-react-footer-row [row]="transformed_bauteilflaechen_s()" />
      } @else {
      <div
        class="virtual-scroll-container flex flex-row items-center justify-center"
      >
        <kppk-react-loading-indicator />
      </div>
      }
    </mat-expansion-panel>
    <mat-expansion-panel #panel_oi3 [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ t?.transformed_oi3 }}</mat-panel-title>
      </mat-expansion-panel-header>
      @if( panel_oi3.expanded && transformed_oi3_s() ) {
      <cdk-virtual-scroll-viewport
        class="virtual-scroll-container"
        itemSize="40"
        minBufferPx="50"
        maxBufferPx="100"
      >
        <kppk-react-materials-oi3-row
          class="virtual-scroll-item"
          *cdkVirtualFor="
            let item of transformed_oi3_s();
            let index = index;
            trackBy: track_by_id
          "
          [row]="item"
          [index]="index"
          [options]="options_s()"
          (change)="emit_model_change($event)"
        />
      </cdk-virtual-scroll-viewport>
      <kppk-react-footer-row [row]="transformed_oi3_s()" />
      } @else {
      <div
        class="virtual-scroll-container flex flex-row items-center justify-center"
      >
        <kppk-react-loading-indicator />
      </div>
      }
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

<ng-template #accordion_types_template>
  <!-- <p>{{ t?.step_edit_types_helptext') }}</p> -->
  <!-- <mat-accordion class="m-2">
    <mat-expansion-panel #panel_material_type [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ t?.material_type') }}</mat-panel-title>
      </mat-expansion-panel-header>
      @if( panel_material_type.expanded && material_type_s() ) { -->
  @if( material_type_s() ) {
  <cdk-virtual-scroll-viewport
    class="virtual-scroll-container"
    itemSize="40"
    minBufferPx="50"
    maxBufferPx="100"
  >
    <kppk-react-materials-type-row
      class="virtual-scroll-item"
      *cdkVirtualFor="
        let item of material_type_s();
        let index = index;
        trackBy: track_by_id
      "
      [row]="item"
      [index]="index"
      [options]="options_s()"
      (change)="emit_model_change($event)"
    />
  </cdk-virtual-scroll-viewport>
  <kppk-react-footer-row [row]="material_type_s()" />
  } @else {
  <div
    class="virtual-scroll-container flex flex-row items-center justify-center"
  >
    <kppk-react-loading-indicator />
  </div>
  }
  <!-- </mat-expansion-panel>
  </mat-accordion> -->
</ng-template>

<ng-template #accordion_calculation_template>
  <!-- <p>{{ t?.step_edit_calculation_helptext') }}</p> -->
  <mat-accordion class="m-2">
    <mat-expansion-panel #panel_type_material [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ t?.type_material }}</mat-panel-title>
      </mat-expansion-panel-header>
      @if( panel_type_material.expanded && material_s() ) {
      <!-- <kppk-react-materials-defaults-form 
          [model]="form_material_defaults_s()"
          [options]="options_s()"
          [event]="'test'"
          (change)="emit_model_change($event)"
        /> -->
      <cdk-virtual-scroll-viewport
        class="virtual-scroll-container"
        itemSize="40"
        minBufferPx="50"
        maxBufferPx="100"
      >
        <kppk-react-materials-material-row
          #material_row
          class="virtual-scroll-item"
          *cdkVirtualFor="
            let item of material_s().value.rows;
            let indexMat = index;
            trackBy: track_by_unit_id
          "
          [ngClass]="{
            invalid: material_row.invalid_s()
          }"
          [row]="item"
          [index]="indexMat"
          [options]="options_s()"
          (change)="emit_model_change($event)"
        />
      </cdk-virtual-scroll-viewport>
      <kppk-react-footer-row
        [row]="material_s().value.rows"
        [results]="material_s().value.results"
      />
      } @else {
      <div
        class="virtual-scroll-container flex flex-row items-center justify-center"
      >
        <kppk-react-loading-indicator />
      </div>
      }
    </mat-expansion-panel>

    <mat-expansion-panel #panel_type_concrete>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ t?.type_concrete }}</mat-panel-title>
      </mat-expansion-panel-header>
      @if( panel_type_concrete.expanded && concrete_s() ) {
      <!-- <kppk-react-materials-defaults-form 
          [model]="form_concrete_defaults_s()"
          [options]="options_s()"
          [event]="'test'"
          (change)="emit_model_change($event)"
        /> -->
      <cdk-virtual-scroll-viewport
        class="virtual-scroll-container"
        itemSize="40"
        minBufferPx="50"
        maxBufferPx="100"
      >
        <kppk-react-materials-concrete-row
          #concrete_row
          class="virtual-scroll-item"
          *cdkVirtualFor="
            let item of concrete_s().value.rows;
            let indexMat = index;
            trackBy: track_by_unit_id
          "
          [ngClass]="{
            invalid: concrete_row.invalid_s()
          }"
          [row]="item"
          [index]="indexMat"
          [options]="options_s()"
          (change)="emit_model_change($event)"
        />
      </cdk-virtual-scroll-viewport>
      <kppk-react-footer-row
        [row]="concrete_s().value.rows"
        [results]="concrete_s().value.results"
      />
      } @else {
      <div
        class="virtual-scroll-container flex flex-row items-center justify-center"
      >
        <kppk-react-loading-indicator />
      </div>
      }
    </mat-expansion-panel>

    <mat-expansion-panel #panel_type_window>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ t?.type_window }}</mat-panel-title>
      </mat-expansion-panel-header>
      @if( panel_type_window.expanded && window_s() ) {
      <!-- <kppk-react-materials-defaults-form 
          [model]="form_window_defaults_s()"
          [options]="options_s()"
          [event]="'test'"
          (change)="emit_model_change($event)"
        /> -->
      <cdk-virtual-scroll-viewport
        class="virtual-scroll-container"
        itemSize="40"
        minBufferPx="50"
        maxBufferPx="100"
      >
        <kppk-react-materials-window-row
          class="virtual-scroll-item"
          #window_row
          *cdkVirtualFor="
            let item of window_s().value.rows;
            let indexMat = index;
            trackBy: track_by_unit_id
          "
          [ngClass]="{
            invalid: window_row.invalid_s()
          }"
          [row]="item"
          [index]="indexMat"
          [options]="options_s()"
          (change)="emit_model_change($event)"
        />
      </cdk-virtual-scroll-viewport>
      <kppk-react-footer-row
        [row]="window_s().value.rows"
        [results]="window_s().value.results"
      />
      } @else {
      <div
        class="virtual-scroll-container flex flex-row items-center justify-center"
      >
        <kppk-react-loading-indicator />
      </div>
      }
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>
