<!-- FAVICONS AND MSTILES (START) -->
<div
  class="flex flex-col items-center justify-center w-full h-full splashscreen:hidden landscape:hidden"
>
  <img class="w-fit h-fit" src="./assets/images/forgetech/logo.png" />
</div>
<!-- FAVICONS AND MSTILES (END) -->

<!-- SPLASHSCREENS (START)-->
<div
  class="flex flex-col items-center hidden w-full h-full bg-black sm:justify-center landscape:justify-center splashscreen:flex landscape:flex justify-top"
>
  <img
    class="w-64 h-64 mt-32 sm:mt-0 landscape:mt-0"
    src="./assets/images/forgetech/forgetech-logo.png"
  />
</div>
<!-- SPLASHSCREENS (END)-->
