@let t = translationsS();

<kppk-react-view-auth-layout-content
  [error]="errorS()" 
  [success]="show_successS()"
  [pending]="show_successS()"
>
  <div header class="prose-sm w-full pb-8 text-center">
    <h1>{{ t?.headline_auth_logout }}</h1>
  </div>

  <ng-container error>
    {{ t?.error_auth_logout  }}
  </ng-container>

  <ng-container success>
    {{ t?.success_auth_logout  }}
  </ng-container>

  <div class="relative flex flex-col items-center justify-center">
    @if( pendingS() ) {
      <kppk-react-loading-indicator 
        class="-z-1 absolute -top-16 -mt-3"
        [ngClass]="{
          'invisible': show_successS()
        }"
      />
    }
    <div class="prose w-full pt-8 text-center">
      @if( pendingS() ) { 
        <p>{{ t?.text_auth_logout_pending }}</p>
      }
      @if( errorS() ) {
        <p>{{ t?.text_auth_logout_error }}</p>
      }
      @if( show_successS() ) {
        <p>{{ t?.text_auth_logout_success }}</p>
      }
    </div>
  
  </div>

    <ng-container buttons>
      @if( errorS() ){
        <button
          class="w-full"
          mat-stroked-button
          color="primary"
          (click)="logout($event)"
          (keydown.enter)="logout($event)"
        >
          {{ t?.label_retry }}
        </button>
      }
      @if( show_successS() || errorS() ) {
        <fg-button-back-navigation color="accent" [label]="t?.label_back" />
      }
    </ng-container>

</kppk-react-view-auth-layout-content>
    